{% extends 'main/base.html' %}
{% load i18n %}
{% load main_tags %}
{% load humanize %}
{% load staticfiles %}

{% block body_class %}i-articles{% endblock %}


{% block content %}
    <header class="header">
        <img class="header_img img-responsive" src="{% static 'main/img/articles.jpg' %}" alt="" />
    </header>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Статьи</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
                
            <div class="row">
                {% for article in object_list %}
                <article class="article col-md-4 col-sm-6">
                    <div class="article_date">{{article.creation_date|naturaltime}}</div>
                    
                    <h2>{{article.title}}</h2>
                    
                    <p>{{article.announcement|safe}}</p>
                    
                    <a class="article_readmore" href="{% url 'articles-detail' article.slug %}">Подробнее</a>
                </article>  <!-- /.article -->
                {% endfor %}
            </div>  <!-- /.row -->

            <div class="row text-center">
                {% block pagination %}
                {% if page_obj.paginator.num_pages > 1 %}
                <ul class="pagination col-lg-12">
                    {% for num_page in page_obj.paginator.num_pages|range %}
                    <li class="{% if num_page == page_obj.number %}active{% endif %}"><a href="?page={{num_page}}">{{num_page}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endblock %}
            </div>
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->

{% endblock %}
