{% extends 'main/base.html' %}
{% load i18n %}
{% load humanize %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="pathway text-uppercase col-lg-12">
                    <a class="pathway_link" href="{% url 'articles' %}">статьи</a> &gt;&gt; {{object.title}}
                </div>  <!-- /.pathway -->
            </div>  <!-- /.row -->
            
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>{{object.title}}</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
                
            <div class="row">
                <div class="article_date col-lg-12">{{object.creation_date|naturaltime}}</div>
            </div>  <!-- /.row -->
                
            <div class="row">
                {% if object.img %}
                <div class="img-holder col-sm-4">
                    <img class="img-responsive center-block" src="{{object.img.url}}" alt="{{object.alt}}" />
                </div>
                {% endif %}
                
                <div class="i-content col-sm-8">
                    {{object.description|safe}}
                </div>  <!-- /.i-content -->
            </div>  <!-- /.row -->
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->
    <br>
    <br>
    <br>
    <br>
{% endblock %}
