{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

<!DOCTYPE html>
<html prefix="og:http://ogp.me/ns#" lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if meta_canonical %}
  <link rel="canonical" href="{{meta_canonical}}" />
  <meta property="og:url" content="{{meta_canonical}}">
  {% endif %}

  {% if meta_prev %}
  <link rel="prev" href="{{meta_prev}}">
  {% endif %}

  {% if meta_next %}
  <link rel="next" href="{{meta_next}}">
  {% endif %}

  {% if meta_title %}
  <title>{{meta_title}}</title>
  <meta property="og:title" content="{{meta_title}}">
  {% endif %}

  {% if meta_description %}
  <meta name="description" content="{{meta_description}}">
  <meta property="og:description" content="{{meta_description}}">
  {% endif %}

  {% if meta_keywords %}
  <meta name="keywords" content="{{meta_keywords}}">
  {% endif %}

  {% if meta_author %}
  <meta name="author" content="{{meta_author}}">
  {% endif %}

  {% if meta_yandex_verification %}
  <meta name='yandex-verification' content='{{meta_yandex_verification}}' />
  {% endif %}

  {% if meta_google_verification %}
  <meta name="google-site-verification" content="{{meta_google_verification}}" />
  {% endif %}

  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" alt="салон бутон">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/desktop.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/tablet.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/mobile.css' %}" rel="stylesheet">        
  <link href="{% static 'main/css/fresco.css' %}" rel="stylesheet"> 
  <link href="{% static 'main/css/owl.carousel.css' %}" rel="stylesheet"> 
  <link href="{% static 'main/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"> 
  <link href="{% static 'main/cal/calRigorous.css' %}" rel="stylesheet"> 
  
  <link href="https://fonts.googleapis.com/css?family=Lora&subset=latin,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic-ext,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext,cyrillic" rel="stylesheet" type="text/css">

  {% block css_extra %}
  {% endblock %}
  <meta name="mailru-domain" content="OJpy9QgL7GIWBcY5" />
</head>


<body class="{% block body_class %}i-inner{% endblock %}">
  <!--noindex-->
  {% if meta_stat_yandex %}
      {{meta_stat_yandex|safe}}
  {% endif %}
  {% if meta_stat_google %}
      {{meta_stat_google|safe}}
  {% endif %}
  <!--/noindex-->
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="top_logo col-md-3">
          <a class="top_logo__item pos-rel" href="/"><span class="text-responsive">Бутон</span></a>
        </div>  <!-- /.top_logo -->
        
        <div class="top_right col-md-9">
          <ul class="top_right__list list-unstyled">
            <li class="top_right__list-item i-icon i-phone">{{site_profile.phone}}</li>
            <li class="top_right__list-item"><a class="item-link" href="#" data-toggle="modal" data-target="#call">Заказать звонок</a></li>
          </ul> <!-- /.top_right__list -->
          
          <ul class="top_right__list list-unstyled">
            <li class="top_right__list-item i-icon i-chat">{{site_profile.skype}}</li>
            <li class="top_right__list-item i-icon i-mail"><a class="item-link" href="maito:{{site_profile.email}}">{{site_profile.email}}</a></li>
          </ul> <!-- /.top_right__list -->

          {% if user.is_authenticated %}
            <ul class="top_right__list list-unstyled">
              <li class="top_right__list-item"><a class="item-link" href="{% url 'profile' %}">ЛК {% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %}</a></li>
              <li class="top_right__list-item"><a class="item-link" href="{% url 'logout' %}">Выйти</a></li>
            </ul> <!-- /.top_right__list -->
          {% else %}
            <ul class="top_right__list list-unstyled">
              <li class="top_right__list-item i-user"><span class="glyphicon glyphicon-user"></span><a class="item-link" href="#" data-toggle="modal" data-target="#login" >Войти</a></li>
              <li class="top_right__list-item"><a class="item-link" href="#" data-toggle="modal" data-target="#registration">Регистрация</a></li>
            </ul> <!-- /.top_right__list -->
          {% endif %}

        </div>  <!-- /.top_right -->
      </div>  <!-- /.row -->
      
      <div class="row">
        <nav class="i-nav col-md-9 col-md-offset-3">  
          <button class="show-menu glyphicon glyphicon-menu-hamburger hidden-md hidden-lg"></button>
        
          <ul class="top_right__menu list-unstyled">
            {% for item in top_menu.get_items %}
            <li class="top_right__menu-item {% if path == item.url %}active{% endif %}"><a class="item-link" href="{{item.url}}">{{item.name}}</a></li>
            {% endfor %}
          </ul> <!-- /.top_right__menu -->
          
          <a class="top_right__cart no-dec i-icon i-cart" href="{% url 'cart-detail' %}">
            <div class="top_right__cart-value text-center pos-abs"><span id="cart-count">{{cart_count}}</span></div>
          </a>  <!-- /.top_right__cart -->
        </nav>  <!-- /.i-nav -->
      </div>  <!-- /.row -->
    </div>  <!-- /.container -->
  </div>  <!-- /.top -->

  {% block presentation %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <div class="pre-footer visible-md visible-lg"></div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <nav class="col-md-9">
          <ul class="footer_menu list-unstyled">
            {% for item in top_menu.get_items %}
            <li class="footer_menu__item {% if path == item.url %}active{% endif %}"><a class="item-link" href="{{item.url}}">{{item.name}}</a></li>
            {% endfor %}
            <li class="footer_menu__item {% if path == '/reviews/' %}active{% endif %}"><a class="item-link" href="{% url 'reviews' %}">Отзывы</a></li>
          </ul> <!-- /.footer_menu -->
        </nav>
        
        <div class="footer_right col-md-3">
          <ul class="footer_right__list list-unstyled">
            {% if social_vkontakte %}
            <li class="footer_right__list-item"><a class="item-link i-icon i-vk" href="{{social_vkontakte}}"></a></li>
            {% endif %}
            {% if social_facebook %}
            <li class="footer_right__list-item"><a class="item-link i-icon i-fb" href="{{social_facebook}}"></a></li>
            {% endif %}
            {% if social_twitter %}
            <li class="footer_right__list-item"><a class="item-link i-icon i-tw" href="{{social_twitter}}"></a></li>
            {% endif %}
            {% if social_google %}
            <li class="footer_right__list-item"><a class="item-link i-icon i-gp" href="{{social_google}}"></a></li>
            {% endif %}
            {% if social_livejournal %}
            <li class="footer_right__list-item"><a class="item-link i-icon i-lj" href="{{social_livejournal}}"></a></li>
            {% endif %}
            {% if social_odnoklassniki %}
            <li class="footer_right__list-item"><a class="item-link i-icon i-od" href="{{social_odnoklassniki}}"></a></li>
            {% endif %}
            {% if social_instangramm %}
            <li class="footer_right__list-item"><a class="item-link i-icon i-in" href="{{social_instangramm}}"></a></li>
            {% endif %}
          </ul> <!-- /.footer_right__list -->

          <div class="footer_right__text">&copy; 2015</div>
        </div>  <!-- /.footer_right -->
      </div>  <!-- /.row -->
    </div>  <!-- /.container -->
  </footer> <!-- /.footer -->

  {% block modals %}

  {% if not user.is_authenticated %}
  <!-- /.login form -->
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="loginbox modal-content">        
        <div class="loginbox_inner center-block col-md-8 col-sm-10 pos-rel">
            <button type="button" class="loginbox_close close text-center pos-abs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
            <div class="loginbox_title text-uppercase i-icon">Войти</div>
        
            <form method='post' action="{% url 'login' %}?next={{path}}">
              {% csrf_token %}      
              {{login_form.non_field_errors}}        
              <ul class="loginbox_list list-unstyled">
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{login_form.username.label}}</label>
                  {{login_form.username.errors}}
                  {{login_form.username}}
                </li>
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{login_form.password.label}}</label>
                  {{login_form.password.errors}}
                  {{login_form.password}}
                </li>
                <li class="loginbox_list__item">
                  <input id="remember" class="checkbox-item" type="checkbox" value="1" checked="checked" name="remember" />
                  <label class="loginbox_list__item-label checkbox-label pos-rel" for="remember"><span class="glyphicon glyphicon-ok"></span>Запомнить меня</label>
                </li>
                <li class="loginbox_list__item">
                  <input class="submit-item common-style" type="submit" value="Войти" />
                </li>
              </ul> <!-- /.regform -->  
            </form>
            <ul class="loginbox_bottom list-unstyled text-center">
              <li class="loginbox_bottom__title text-uppercase">Забыли пароль? <a href="{% url 'reset-password' %}">сбросить</a></li>
            </ul>
            <br>
            <ul class="loginbox_bottom list-unstyled text-center">
              <li class="loginbox_bottom__title text-uppercase">или войдите, используя</li>
              <li class="loginbox_bottom__item">
                <a class="item-link i-icon i-vk" href="{% url 'socialauth_begin' 'vk-oauth' %}"></a>
                <a class="item-link i-icon i-fb" href="{% url 'socialauth_begin' 'facebook' %}"></a>
                <a class="item-link i-icon i-gp" href="{% url 'socialauth_begin' 'google-oauth2' %}"></a>
                <a class="item-link i-icon i-tw" href="{% url 'socialauth_begin' 'twitter' %}"></a>
                <a class="item-link i-icon i-od" href="{% url 'socialauth_begin' 'odnoklassniki' %}"></a>
                {% comment %}
                <a class="item-link i-icon i-lj" href="#"></a>
                {% endcomment %}
              </li>
            </ul>

        </div>  <!-- /.regform -->  
      </div>  <!-- /.modal-content -->
    </div>
  </div>  <!-- /.modal -->

    <!-- /.login form -->
  <div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="loginbox modal-content">        
        <div class="loginbox_inner center-block col-md-8 col-sm-10 pos-rel">
            <button type="button" class="loginbox_close close text-center pos-abs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
            <div class="loginbox_title text-uppercase i-icon">Регистрация</div>
        
            <form method='post' action="{% url 'registration' %}">
              {% csrf_token %}       
              {{registration_form.non_field_errors}}     
              <ul class="loginbox_list list-unstyled">
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{registration_form.username.label}}</label>
                  {{registration_form.username.errors}}
                  {{registration_form.username}}
                </li>
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{registration_form.password.label}}</label>
                  {{registration_form.password.errors}}
                  {{registration_form.password}}
                </li>
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{registration_form.confirm_password.label}}</label>
                  {{registration_form.confirm_password.errors}}
                  {{registration_form.confirm_password}}
                </li>
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{registration_form.first_name.label}}</label>
                  {{registration_form.first_name.errors}}
                  {{registration_form.first_name}}
                </li>
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{registration_form.last_name.label}}</label>
                  {{registration_form.last_name.errors}}
                  {{registration_form.last_name}}
                </li>
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{registration_form.phone.label}}</label>
                  {{registration_form.phone.errors}}
                  {{registration_form.phone}}
                </li>
                <li class="loginbox_list__item">
                  <input class="submit-item common-style" type="submit" value="Зарегистрироваться" />
                </li>
              </ul> <!-- /.regform -->  
            </form>
        </div>  <!-- /.regform -->  
      </div>  <!-- /.modal-content -->
    </div>
  </div>  <!-- /.modal -->
  {% endif %}

    <!-- /.login form -->
  <div class="modal fade" id="call" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="loginbox modal-content">        
        <div class="loginbox_inner center-block col-md-8 col-sm-10 pos-rel">
            <button type="button" class="loginbox_close close text-center pos-abs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
            <div class="loginbox_title text-uppercase i-icon">Заказать звонок</div>
        
            <form method='post' action="{% url 'call' %}"> 
              {% csrf_token %} 
              {{call_form.non_field_errors}}            
              <ul class="loginbox_list list-unstyled">
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{call_form.phone.label}}</label>
                  {{call_form.phone.errors}}
                  {{call_form.phone}}
                </li>
                <li class="loginbox_list__item">
                  <label class="loginbox_list__item-label">{{call_form.name.label}}</label>
                  {{call_form.name.errors}}
                  {{call_form.name}}
                </li>
                <li class="loginbox_list__item">
                  <input class="submit-item common-style" type="submit" value="Заказать" />
                </li>
              </ul> <!-- /.regform -->  
            </form>
        </div>  <!-- /.regform -->  
      </div>  <!-- /.modal-content -->
    </div>
  </div>  <!-- /.modal -->

  <div class="modal fade" id="msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="loginbox modal-content">        
        <div class="loginbox_inner center-block col-md-8 col-sm-10 pos-rel">
            <button type="button" class="loginbox_close close text-center pos-abs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
            <div class="loginbox_title text-uppercase i-icon">Сообщение</div>
            <span class="msg-data">
            {% for message in messages %}
                {% if message.level_tag == 'success' %}
                {{message|safe}}
                {% endif %}
            {% endfor %}
            </span>
        </div>  <!-- /.regform -->  
      </div>  <!-- /.modal-content -->
    </div>
  </div>  <!-- /.modal -->
  {% endblock %}


  <script type="text/javascript" src="{% static 'main/js/jquery-1.11.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/moment-with-locales.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/bootstrap-datetimepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/cal/cal.js' %}"></script>
  <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>      
  <script src="{% static 'main/js/fresco.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/social-likes.min.js' %}"></script> 
  <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>  
  <script type="text/javascript" src="{% static 'main/js/cart.js' %}"></script>
  
  <!--[if lt IE 9]>
  <script src="{% static 'main/js/html5shiv.js' %}"></script>
  <script src="{% static 'main/js/respond.min.js' %}"></script>
  <![endif]-->

  {{ form.media }}
  {% block js_extra %}
    <script type="text/javascript">
      var cartAddUrl = '{% url "ajax-cart-add" %}'; 
      var cartDeleteUrl = '{% url "ajax-cart-delete" %}'; 
      var cartPlusUrl = '{% url "ajax-cart-plus" %}'; 
      var cartMinusUrl = '{% url "ajax-cart-minus" %}'; 
      var cartDiscountsUrl = '{% url "ajax-cart-discounts" %}';

      {% if login_form.errors or show_login_dialog %}
      $('#login').modal('show');
      {% endif %}

      {% if registration_form.errors %}
      $('#registration').modal('show');
      {% endif %}

      {% if call_form.errors %}
      $('#call').modal('show');
      {% endif %}

      {% for message in messages %}
        {% if message.level_tag == 'success' %}
        $('#msg').modal('show');
        {% endif %}
      {% endfor %}
    </script>
  {% endblock %}
</body>
</html>