{% extends 'main/base.html' %}


{% block presentation %}
    {% if not hide_presentation %}
    {% if carousel %}
    <header class="header">
        <div id="slides" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for item in carousel.get_items %}
                <li class="indicators_item {% if forloop.first %}active{% endif %}" data-slide-to="{{forloop.counter0}}" data-target="#slides"></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner" role="listbox">
                {% for item in carousel.get_items %}
                <div class="slides_item item {% if forloop.first %}active{% endif %}"><a href="{{item.link}}" class=""><img class="img-responsive center-block" src="{{item.img.url}}" alt="{{item.alt}}" /></a></div>
                {% endfor %}
            </div>
            
            <div class="container pos-rel">
                <a class="left carousel-control" data-slide="prev" role="button" href="#slides"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                <a data-slide="next" role="button" href="#slides" class="right carousel-control"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
            </div>
        </div>  <!-- /.carousel -->
    </header>   <!-- /.header -->
    {% endif %}
    {% else %}
    <header class="header"></header>
    {% endif %}
{% endblock %}


