{% extends 'main/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load main_tags %}


{% block content %}
<header class="header"></header>
<div class="main">
        <div class="container">
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Ваш заказ</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
                
            <div class="cartbox row">

                <div class="col-md-8">
                    <div class="row">
                        {% for item in cart.items %}
                        <div class="cartbox_item col-sm-6 text-center cart-item-{{item.item.pk}}">
                            <div class="cartbox_item-inner">
                                <a href="{% url 'items-detail' item.item.slug %}"><img class="img-responsive center-block" src="{{item.item.image.img.url}}" alt="{{item.item.image.alt}}" /></a>
                                
                                <div class="cartbox_item__title">{{item.item_title}}</div>
                                
                                <ul class="cartbox_item__list list-unstyled">
                                    {% for part in item.item.parts %}
                                    <li class="cartbox_item__list-item">
                                        <span class="pull-left">{{part.name}}</span>
                                        <span class="pull-right">{{part.count}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>   <!-- /.cartbox_item__list -->
                                
                                <div class="cartbox_item__price">{{item.item_price}}</div>
                                
                                <ul class="cartbox_item__cartlist list-unstyled">
                                    <li class="cartbox_item__cartlist-item">Количеcтво:</li>
                                    <li class="cartbox_item__cartlist-item buttons-holder">
                                        <form action="#">
                                            <input class="i-input input-button cart-minus" data="{{item.item.pk}}" type="button" value="-" />
                                            <input class="i-input input-text cart-item-count-{{item.item.pk}}" type="text" value="{{item.count}}" />
                                            <input class="i-input input-button cart-plus" data="{{item.item.pk}}" type="button" value="+" />
                                        </form>
                                    </li>
                                    <li class="cartbox_item__cartlist-item price-holder">
                                        Цена: <span class="cart-item-price-{{item.item.pk}}">{{item.item_price}}</span>
                                    </li>
                                    <li class="cartbox_item__cartlist-item"><a class="item-link cart-delete" data="{{item.item.pk}}" href="javascript:void(0)">Удалить</a></li>
                                </ul>
                            </div>  <!-- /.cartbox_item-inner -->
                        </div>  <!-- /.cartbox_item -->
                        {% endfor %}
                    </div>
                </div>

                <div class="cartbox_info col-md-4">
                    <div class="cartbox_info__title text-uppercase">Итого</div>
                    
                    <ul class="cartbox_info__list list-unstyled text-uppercase">
                        <li class="cartbox_info__list-item">
                            <span class="i-item i-title">товаров:</span>
                            <span class="i-item i-value" id="cart-items-count">{{cart.items_count}}</span>
                        </li>
                        <li class="cartbox_info__list-item">
                            <span class="i-item i-title">на сумму:</span>
                            <span class="i-item i-value i-price" id="cart-items-price">{{cart.items_price}}</span>
                        </li>
                    </ul>   <!-- /.cartbox_info__list -->
                    {% if cart.items_discount %}
                    <ul class="cartbox_info__sale list-unstyled text-uppercase">
                        <li class="cartbox_info__sale-item">
                            <span class="i-item i-title">со скидкой <span id="cart-items-discount">{{cart.items_discount}}</span>%:</span>
                            <span class="i-item i-value i-price" id="cart-items-price-with-discount">{{cart.items_price_with_discount}}</span>
                        </li>
                    </ul>   <!-- /.cartbox_info__sale -->
                    {% endif %}
                    
                    <p>{{cart_text}}</p>
                    
                    <ul class="cartbox_info__buttons list-unstyled">
                        {% if cart.items %}
                        <li class="cartbox_info__buttons-item positem_infoholder__buttons-item" id="cart-payment"><a class="item-link" href="{% url 'order-create' %}">Оформить заказ</a></li>
                        {% endif %}
                        <li class="cartbox_info__buttons-item positem_infoholder__buttons-item"><a class="item-link active" href="{% url 'index' %}">Продолжить покупки</a></li>
                    </ul>
                </div>  <!-- /.cartbox_info -->
            </div>  <!-- /.row -->
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->
{% endblock %}
