{% extends 'main/page.html' %}


{% block additional_content %}
    <br>
    <br>
    <div class="row">
        <div class="title-holder col-lg-12">
            <h1>Форма обратной связи</h1>
        </div>  <!-- /.title-holder -->
    </div>  <!-- /.row -->
    <div class="row">                   
        <div class="regform col-sm-8">                    
                <form method='post' action="{% url 'feedback' %}?next={{path}}">   
                    {% csrf_token %}  
                      {% for message in messages %}
                          {% if message.level_tag == 'error' and 'feedback' in message.extra_tags %}
                          {{message|safe}}
                          <br>
                          {% endif %}
                      {% endfor %}                  
                    <ul class="regform_list list-unstyled">
                        <li class="regform_list__item"  style="display: none;">
                            {{feedback_form.feedback_type.errors}}
                            {{feedback_form.feedback_type}}
                        </li>
                        <li class="regform_list__item">
                            {{feedback_form.name.errors}}
                            {{feedback_form.name}}
                        </li>
                        <li class="regform_list__item">
                            {{feedback_form.phone.errors}}
                            {{feedback_form.phone}}
                        </li>
                        <li class="regform_list__item">
                            {{feedback_form.address.errors}}
                            {{feedback_form.address}}
                        </li>
                        <li class="regform_list__item">
                            {{feedback_form.question.errors}}
                            {{feedback_form.question}}
                        </li>
                        <li class="regform_list__item">
                            <input class="submit-item common-style" type="submit" value="Отправить" />
                        </li>
                    </ul>   <!-- /.regform -->  
                </form>
        </div>  <!-- /.regform -->             
    </div>  <!-- /.row --> 
    <br>
    <br> 
    <div class="row">
        <div class="title-holder col-lg-12">
            <h1>Найти нас</h1>
        </div>  <!-- /.title-holder -->
    </div>  <!-- /.row -->

    <div class="mapbox pos-rel">                    
            <div class="mapbox_inner pos-rel">                  
                {{contact_map|safe}}
            </div>  <!-- /.mapbox_inner -->             
        </div>  <!-- /.mapbox -->
    </div>  <!-- /.regform --> 
{% endblock %}