{% extends 'main/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load main_tags %}
{% load thumbnail %}


{% block css_extra %}
  <meta property="og:type" content="article">
  <link rel="image_src" href="{{host}}{{object.image.img.url}}" />
  <meta property="og:image" content="{{host}}{{object.image.img.url}}">
{% endblock %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="pathway text-uppercase col-lg-12">
                    <a href="/" class="pathway_link">букеты</a> &gt;&gt; {{object.title}}
                </div>  <!-- /.pathway -->
            </div>
        
            <div class="i-position positem row" id="item-{{object.pk}}">    
                <div class="positem_infoholder col-md-6">       
                    <div class="positem-inner pos-rel">
                        <h1>{{object.title}}</h1>
                        <div class="positem_infoholder__price">{{object.price}}</div>
                        
                        <ul class="positem_infoholder__buttons list-unstyled">
                            <li class="positem_infoholder__buttons-item"><a href="{% url 'buy-one-click' %}?item={{item.pk}}" class="item-link">Купить в 1 клик</a></li>
                            <li class="positem_infoholder__buttons-item cart-li-add"><a href="javascript:void(0)" class="item-link i-icon i-cart cart-add" data="{{object.pk}}">В корзину</a></li>
                            <li class="positem_infoholder__buttons-item">
                                <a href="javascript:void(0)" class="positem_imgholder__link text-nowrap i-icon i-gift" onclick="$('.gift-actions').toggle();">Хочу в подарок</a>

                                <ul class="positem_infoholder__share list-unstyled gift-actions" style="display: none;" data-url="{{host}}{% url 'items-detail' object.slug %}" data-title="Хочу в подарок! {{object.title}}">
                                    <li class="positem_infoholder__share-item social-likes">
                                        <a class="item-link i-icon i-vk vkontakte" href="#"></a>
                                        <a class="item-link i-icon i-fb facebook" href="#"></a>
                                        <a class="item-link i-icon i-tw twitter" href="#"></a>
                                        <a class="item-link i-icon i-gp plusone" href="#"></a>
                                        {% comment %}
                                        <a class="item-link i-icon i-lj" href="#"></a>
                                        {% endcomment %}
                                        <a class="item-link i-icon i-od odnoklassniki" href="#"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>   <!-- /.positem_infoholder__buttons -->
                        
                        <ul class="positem_infoholder__list i-icon list-unstyled">
                            {% for part in object.parts %}
                            <li class="positem_infoholder__list-item">
                                <span class="pull-left">{{part.name}}</span>
                                <span class="pull-right">{{part.count}}</span>
                            </li>
                            {% endfor %}
                        </ul>   <!-- /.positem_infoholder__list -->
                        
                        <h2>Описание:</h2>
                        
                        <p>{{object.description|safe}}</p>
                        
                        <ul class="positem_infoholder__share list-unstyled">
                            <li class="positem_infoholder__share-item">Рассказать друзьям:</li>
                            <li class="positem_infoholder__share-item social-likes" data-url="{{host}}{% url 'items-detail' object.slug %}" data-title="{{object.title}}">
                                <a class="item-link i-icon i-vk vkontakte" href="#"></a>
                                <a class="item-link i-icon i-fb facebook" href="#"></a>
                                <a class="item-link i-icon i-tw twitter" href="#"></a>
                                <a class="item-link i-icon i-gp plusone" href="#"></a>
                                {% comment %}
                                <a class="item-link i-icon i-lj" href="#"></a>
                                {% endcomment %}
                                <a class="item-link i-icon i-od odnoklassniki" href="#"></a>
                            </li>
                        </ul>
                    </div>  <!-- /.positem-inner -->
                </div>  <!-- /.positem_infoholder -->
                
                <div class="positem_imgholder col-md-6">    
                    <div id="pospics" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for item_img in object.images  %}
                            <li class="indicators_item {% if forloop.first %}active{% endif %}" data-slide-to="{{forloop.counter0}}" data-target="#pospics">
                                {% thumbnail item_img.img "232x166" crop="center" as thumb_img %}
                                <img class="img-responsive center-block" src="{{thumb_img.url}}" alt="{{item_img.alt}}">
                                {% endthumbnail %}
                            </li>
                            {% endfor %}
                        </ol>

                        <div class="carousel-inner" role="listbox">
                            {% for item_img in object.images %}
                            {% thumbnail item_img.img "1024x768" crop="center" as thumb_img %}
                            <div class="slides_item item {% if forloop.first %}active{% endif %}"><img class="img-responsive center-block" src="{{thumb_img.url}}" alt="{{item_img.alt}}" /></div>
                            {% endthumbnail %}
                            {% endfor %}
                        </div>
                        
                        <div class="container pos-rel">
                            <a class="left carousel-control" data-slide="prev" role="button" href="#pospics"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                            <a data-slide="next" role="button" href="#pospics" class="right carousel-control"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                        </div>
                    </div>  <!-- /.carousel -->
                </div>  <!-- /.positem_infoholder -->
            </div>  <!-- /.i-position -->
        
            <div class="row">   
                <div class="col-lg-12 text-center"> 
                    <div class="seealso-title text-uppercase">возможно, вам понравятся и другие товары</div>
                </div>
            </div>  <!-- /.row -->
            
            <div class="row">
                <ul class="main_filter col-lg-12 text-center list-unstyled">
                    {% for catalog in catalogs %}
                    <li class="main_filter__item {% if catalog == object %}active{% endif %}"><a  class="main_filter__item-link no-dec" href="{% url 'items' catalog.slug %}">{{catalog.title}}</a></li>
                    {% endfor %}
                </ul>   <!-- /.main_filter -->
            </div>
        
            <div class="seealso row">   
                {% for item in similar_items %}
                <div class="col-sm-3">
                    <div class="seealso_inner i-icon text-center">
                        <a href="{% url 'items-detail' item.slug %}"><img class="seealso_inner__img img-responsive center-block" src="{{item.image.img.url}}" alt="{{item.image.alt}}" /></a>
                        
                        <div class="seealso_inner__title text-uppercase">{{item.title}}</div>
                        <a  class="seealso_inner__readmore" href="{% url 'items-detail' item.slug %}">Подробнее</a>
                    </div>  <!-- /.seealso_inner -->
                </div> 
                {% endfor %} 
            </div>  <!-- /.row -->
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->
{% endblock %}


{% block js_extra %}
{{block.super}}
<script type="text/javascript" src="{% static 'main/js/cart-animate.js' %}"></script>
{% endblock %} 
