{% extends 'main/base-presentation.html' %}
{% load staticfiles %}
{% load main_tags %}
{% load thumbnail %}


{% block body_class %}{% endblock %}


{% block content %}
    <div class="main">
        <div class="container">
            <div class="row">
                <ul class="main_filter col-lg-12 text-center list-unstyled">
                    {% for catalog in catalogs %}
                    <li class="main_filter__item {% if catalog == object %}active{% endif %}"><a class="main_filter__item-link no-dec" href="{% url 'items' catalog.slug %}">{{catalog.title}}</a></li>
                    {% endfor %}
                </ul>   <!-- /.main_filter -->
            </div>
            
            <div class="row items">
                {% if index_banner %}
                <div class="positem i-icon text-center col-md-6">
                    <div class="positem-inner">
                    {% if index_banner.img %}
                        <a href="{{index_banner.link}}"><img class="img-responsive center-block" src="{{index_banner.img.url}}" alt="{{index_banner.alt}}" /></a>
                    {% endif %}
                    {% if index_banner.data %}
                        {{index_banner.data|safe}}
                    {% endif %}
                    </div>  <!-- /.positem-inner -->
                </div>  <!-- /.positem -->
                {% endif %}

                {% for item in object_list %}
                <div class="positem i-icon text-center col-md-6" id="item-{{item.pk}}">
                    <div class="positem-inner">
                            <div class="positem_imgholder pos-rel col-md-6">
                                <a href="{% url 'items-detail' item.slug %}"><img class="img-responsive center-block" src="{{item.image.img.url}}" alt="{{item.image.alt}}" /></a>
                                <a class="positem_imgholder__link text-nowrap i-icon i-gift" href="javascript:void(0)" onclick="$('.gift-all-actions:not(.gift-actions-{{item.pk}})').hide(); $('.gift-actions-{{item.pk}}').toggle();">Хочу в подарок</a>

                                <ul class="positem_infoholder__share list-unstyled gift-actions-{{item.pk}} gift-all-actions" style="display: none;">
                                    <li class="positem_infoholder__share-item social-likes" data-url="{{host}}{% url 'items-detail' item.slug %}" data-title="Хочу в подарок! {{item.title}}">
                                        <a class="item-link i-icon i-vk vkontakte" href="#"></a>
                                        <a class="item-link i-icon i-fb facebook" href="#"></a>
                                        <a class="item-link i-icon i-tw twitter" href="#"></a>
                                        <a class="item-link i-icon i-gp plusone" href="#"></a>
                                        {% comment %}
                                        <a class="item-link i-icon i-lj" href="#"></a>
                                        {% endcomment %}
                                        <a class="item-link i-icon i-od odnoklassniki" href="#"></a>
                                    </li>
                                </ul>
                            </div>  <!-- /.positem_imgholder -->
                            
                            <div class="positem_infoholder pos-rel col-md-6">
                                <div class="positem_infoholder__title">{{item.title}}</div>
                                <a class="positem_infoholder__link" href="{% url 'items-detail' item.slug %}">Подробно</a>
                                
                                <div class="scroller pos-rel">
                                    <ul id="positem_infoholder__gallery{{item.id}}" class="positem_infoholder__gallery list-unstyled">
                                        {% for item_img in item.images %}
                                        {% thumbnail item_img.img "232x166" crop="center" as thumb_img %}
                                        <li class="positem_infoholder__gallery-item">
                                             <a class="fresco glyphicon glyphicon-zoom-in" href="{{item_img.img.url}}" data-fresco-caption="Название букета" data-fresco-group="group"><img class="img-responsive center-block" src="{{thumb_img.url}}" alt="{{item_img.alt}}" /></a>
                                        </li>
                                        {% endthumbnail %}
                                        {% endfor %}
                                    </ul>   <!-- /.positem_infoholder__gallery -->
                                
                                    <div id="positem_infoholder__gallery{{item.id}}-prev" class="scroller_nav nav-left glyphicon glyphicon-chevron-left pos-abs"></div>
                                    <div id="positem_infoholder__gallery{{item.id}}-next" class="scroller_nav nav-right glyphicon glyphicon-chevron-right pos-abs"></div>
                                </div>
                                
                                <div class="positem_infoholder__price">{{item.price}}</div>
                                
                                <ul class="positem_infoholder__buttons list-unstyled">
                                    <li class="positem_infoholder__buttons-item"><a class="item-link" href="{% url 'buy-one-click' %}?item={{item.pk}}">Купить в 1 клик</a></li>
                                    <li class="positem_infoholder__buttons-item cart-li-add"><a class="item-link i-icon i-cart cart-add" data="{{item.pk}}" href="javascript:void(0)">В корзину</a></li>
                                </ul>   <!-- /.positem_infoholder__buttons -->
                            </div>  <!-- /.positem_infoholder -->
                    </div>  <!-- /.positem-inner -->
                </div>  <!-- /.positem -->
                {% endfor %}
            </div>  <!-- /.row -->

            {% if object.description %}
            <div class="row text-center">
                {{object.description|safe}}
            </div>
            {% endif %}
            <br>
            <br>


            <div class="row text-center">
                {% block pagination %}
                {% if page_obj.paginator.num_pages > 1 %}
                <ul class="pagination col-lg-12">
                    {% for num_page in page_obj.paginator.num_pages|range %}
                    <li class="{% if num_page == page_obj.number %}active{% endif %}"><a href="?page={{num_page}}">{{num_page}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endblock %}
            </div>
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->

{% endblock %} 


{% block js_extra %}
{{block.super}}
<script type="text/javascript" src="{% static 'main/js/cart-animate.js' %}"></script>
{% endblock %} 