{% load i18n %}
{% load main_tags %}

<table class="orderpage_table">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Товар</th>
            <th>Кол-во</th>
            <th>Цена</th>
            {% if cart.items_discount %}
            <th>Со скидкой</th>
            {% endif %}
        </tr>
    </thead>
    
    <tbody>
        {% for item in cart.items %}
        <tr>
            <td><a href="{% url 'items-detail' item.item.slug %}"><img class="img-responsive center-block" src="{{item.item.image.img.url}}" alt="{{item.item.image.alt}}" /></a></td>
            <td>{{item.item_title}}</td>
            <td>{{item.count}}</td>
            <td><span class="orderpage_table__price">{{item.item_price}}</span></td>
            {% if cart.items_discount %}
            <td><span class="orderpage_table__sales">(-{{cart.items_discount}}%)</span> <span class="orderpage_table__price">{{item.item_price|with_discount:cart.items_discount}}</span></td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td class="orderpage_table__last" colspan="5">
                <ul class="orderpage_table__last-list list-unstyled">
                    <li class="list-item left-item"><a class="item-link" href="{% url 'cart-detail' %}">Изменить</a></li>
                    <li class="list-item right-item">Итого {% if cart.items_discount %}<span class="orderpage_table__sales">(со скидкой):</span>{% endif %} <span class="orderpage_table__price">{{cart.items_price_with_discount}}</span></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>    <!-- /.orderpage_table -->