{% extends 'main/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load main_tags %}
{% load thumbnail %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Заказы пользователя {{user.get_full_name}}</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
            
                     
            <div class="orderpage text-center row">
                <div class="orderpage-table center-block col-md-12">
                    <div class="orderpage_table-holder table-responsive">
                        <table class="orderpage_table">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Номер заказа</th>
                                    <th>Товары</th>
                                    <th>Стоимость</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for object in object_list %}  
                                <tr>
                                    <td>{{object.creation_date}}</td>
                                    <td>№{{object.pk}}</td>
                                    <td>
                                    {% for item in object.order_items %}
                                        <a href="{% url 'items-detail' item.item.slug %}">{{item.item.title}}</a> - {{item.count}} шт. <br>
                                    {% endfor %}
                                    </td>
                                    <td>{{object.items_price_with_discount}}</td>
                                    <td><a href="{% url 'order-detail' object.pk %}" style="decoration:none;">перейти на заказ</a></td>
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>    <!-- /.orderpage_table -->
                    </div>  <!-- /.table-responsive -->
                </div>  <!-- /.orderpage-table -->
              
            </div>  <!-- /.row -->
                  

            <div class="row text-center">
                {% block pagination %}
                {% if page_obj.paginator.num_pages > 1 %}
                <ul class="pagination col-lg-12">
                    {% for num_page in page_obj.paginator.num_pages|range %}
                    <li class="{% if num_page == page_obj.number %}active{% endif %}"><a href="?page={{num_page}}">{{num_page}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endblock %}
            </div>
        </div>  <!-- /.container -->    
    </div>  <!-- /.main -->
{% endblock %}
