{% extends 'main/base.html' %}
{% load i18n %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="pathway text-uppercase col-lg-12">
                    <a class="pathway_link" href="{% url 'order-detail' object.pk %}">Ваш заказ</a> &gt;&gt; оплата заказа
                </div>  <!-- /.pathway -->
            </div>  <!-- /.row -->
            
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Оплата заказа</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
            
            <div class="orderpage text-center row">
                <div class="orderpage-table center-block col-md-10">
                    <div class="orderpage-table center-block col-md-10">
                        <div class="orderpage_table-holder table-responsive">
                            <table class="orderpage_table">
                                <thead>
                                    <tr>
                                        <th>Ордер</th>
                                        <th>Товары</th>
                                        <th>Стоимость</th>
                                        {% if object.items_discount %}
                                        <th>Скидка</th>
                                        <th>Стоимость cо скидкой</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td>№{{object.pk}}</td>
                                        <td>
                                        {% for item in object.order_items %}
                                            {{item.item.title}} - {{item.count}} шт. <br>
                                        {% endfor %}
                                        </td>
                                        <td>{{object.items_price}}</td>
                                        {% if object.items_discount %}
                                        <td>{{object.items_discount}} %</td>
                                        <td>{{object.items_price_with_discount}}</td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>    <!-- /.orderpage_table -->
                        </div>  <!-- /.table-responsive -->
                    </div>  <!-- /.orderpage-table -->

                    <form action="{{assist_url}}" method="POST">
                        <p>{{ form.as_p }}</p>
                        <p><input class="submit-item common-style" type="submit" value="Оплатить" /></p>
                    </form>

                </div>  <!-- /.orderpage -->                
            </div>  <!-- /.row -->              
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->
<br>
<br>
<br>
{% endblock %}
