{% extends 'main/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load main_tags %}
{% load thumbnail %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="pathway text-uppercase col-lg-12">
                    <a class="pathway_link" href="{% url 'order-list' %}">заказы</a> &gt;&gt; заказ №{{object.pk}}
                </div>  <!-- /.pathway -->
            </div>  <!-- /.row -->
            
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Заказ №{{object.pk}}</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
            
            <div class="orderpage text-center row">
                <div class="orderpage-table center-block col-md-8">
                    <div class="orderpage_table-holder table-responsive">
                        <table class="orderpage_table">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Товар</th>
                                    <th>Кол-во</th>
                                    <th>Цена</th>
                                    {% if object.items_discount %}
                                    <th>Со скидкой</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for item in object.order_items %}
                                <tr>
                                    <td><a href="{% url 'items-detail' item.item.slug %}"><img class="img-responsive center-block" src="{{item.item.image.img.url}}" alt="{{item.item.image.alt}}" /></a></td>
                                    <td>{{item.item_title}}</td>
                                    <td>{{item.count}}</td>
                                    <td><span class="orderpage_table__price">{{item.item_price}}</span></td>
                                    {% if object.items_discount %}
                                    <td><span class="orderpage_table__sales">(-{{object.items_discount}}%)</span> <span class="orderpage_table__price">{{item.item_price|with_discount:object.items_discount}}</span></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="orderpage_table__last" colspan="5">
                                        <ul class="orderpage_table__last-list list-unstyled">
                                            <li class="list-item right-item">
                                                Итого {% if object.items_discount %}<span class="orderpage_table__sales">(со скидкой):</span>{% endif %} <span class="orderpage_table__price">{{object.items_price_with_discount}}</span>
                                                {% if object.status == 0 and  object.payment_type != 0 %}
                                                <br>
                                                <br>
                                                <a class="item-link" href="{% url 'order-payment' object.pk %}">Оплатить заказ</a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>    <!-- /.orderpage_table -->
                    </div>  <!-- /.table-responsive -->
                </div>  <!-- /.orderpage-table -->               
            </div>  <!-- /.row -->            
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->
{% endblock %}
