{% extends 'main/base.html' %}
{% load i18n %}
{% load main_tags %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="pathway text-uppercase col-lg-12">
                    <a class="pathway_link" href="{% url 'cart-detail' %}">Ваш заказ</a> &gt;&gt; оформление заказа
                </div>  <!-- /.pathway -->
            </div>  <!-- /.row -->
            
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Оформление заказа</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
            
            <div class="orderpage text-center row">
                    <div class="orderpage-table center-block col-md-8">
                        <div class="orderpage_table-holder table-responsive" id="table-cart">
                            {% include 'main/order-create-cart.html' with cart=cart %}
                        </div>  <!-- /.table-responsive -->
                    </div>  <!-- /.orderpage-table -->
                    
                    <form class="col-lg-12" action="" method="post" id="create-order">
                        {% csrf_token %} 
                        <div class="orderpage_title text-uppercase">Выберите вариант доставки</div>
                        
                        <ul class="orderpage_list list-unstyled">
                            <li class="orderpage_list__item">
                                <input id="delivery_1" class="radio-button" type="radio" value="0" name="delivery_type" checked="checked" />
                                <label class="orderpage_label" for="delivery_1">Самовывоз</label>
                            </li>
                            <li class="orderpage_list__item">
                                <input id="delivery_2" class="radio-button" type="radio" value="1" name="delivery_type" />
                                <label class="orderpage_label" for="delivery_2">Бесплатная доставка по г. Казани</label>
                            </li>
                        </ul>   <!-- /.orderpage_list -->
                        
                        <div class="orderpage_title text-uppercase">Выберите способ оплаты</div>
                        
                        <ul class="orderpage_list list-unstyled">
                            <li class="orderpage_list__item i-icon i-cash">
                                <input id="payment_1" class="radio-button" type="radio" value="0" name="payment_type" checked="checked" />
                                <label class="orderpage_label" for="payment_1">Наличными</label>
                            </li>
                            <li class="orderpage_list__item i-icon i-paypal">
                                <input id="payment_2" class="radio-button" type="radio" value="2" name="payment_type" />
                                <label class="orderpage_label" for="payment_2">Электронными деньгами онлайн</label>
                            </li>
                            <li class="orderpage_list__item i-icon i-card">
                                <input id="payment_3" class="radio-button" type="radio" value="1" name="payment_type" />
                                <label class="orderpage_label" for="payment_3">Банковской картой онлайн</label>
                            </li>
                        </ul>   <!-- /.orderpage_list -->
                        
                        <div class="orderpage_title text-uppercase">заполните информацию 
                        {% if not user.is_authenticated %}
                        или <a class="orderpage_title__link" href="#" data-toggle="modal" data-target="#login">авторизуйтесь</a> / <a class="orderpage_title__link" href="#" data-toggle="modal" data-target="#registration">зарегистрируйтесь</a>
                        {% endif %}
                        </div>
                        <div class="orderpage_title_discount">
                            {% if discount_auth %}
                            после авторизации вы получите скидку {{discount_auth.amount}}% на все товары нашего магазина
                            {% endif %}
                        </div>

                        {{form.non_field_errors}}
                        
                        <ul class="orderpage_form center-block col-md-6 list-unstyled">
                            <li class="orderpage_form__item">
                                <label class="order_list__item-label">{{form.first_name.label}}</label>
                                {{form.first_name.errors}}
                                {{form.first_name}}
                            </li>
                            <li class="orderpage_form__item">
                                <label class="order_list__item-label">{{form.last_name.label}}</label>
                                {{form.last_name.errors}}
                                {{form.last_name}}
                            </li>
                            <li class="orderpage_form__item">
                                <label class="order_list__item-label">{{form.phone.label}}</label>
                                {{form.phone.errors}}
                                {{form.phone}}
                            </li>
                            <li class="orderpage_form__item">
                                <label class="order_list__item-label">{{form.email.label}}</label>
                                {{form.email.errors}}
                                {{form.email}}
                            </li>
                            <li class="orderpage_form__item">
                                <label class="order_list__item-label">{{form.delivery.label}}</label>
                                {{form.delivery.errors}}
                                {{form.delivery}}
                            </li>
                            <li class="orderpage_form__item">
                                <label class="order_list__item-label">{{form.delivery_date.label}}</label>
                                {{form.delivery_date.errors}}
                                {{form.delivery_date}}
                                {{form.delivery_date_widget}}
                            </li>
                            <li class="orderpage_form__item">
                                <label class="order_list__item-label">{{form.note.label}}</label>
                                {{form.note.errors}}
                                {{form.note}}
                            </li>
                            <li class="orderpage_form__item">
                                <input class="submit-item common-style" type="submit" value="Оформить заказ" />
                            </li>   

                        </ul>   <!-- /.orderpage_form -->   
                    </form>
                </div>  <!-- /.orderpage -->                
            </div>  <!-- /.row -->              
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->
<br>
<br>
<br>
{% endblock %}

{% block js_extra %}
{{block.super}}
<script type="text/javascript">
    setInterval(function (){
        $("#id_delivery_date").toggleClass('delivery_date_mark_visible')
    },1000);
</script>
{% endblock %}
