{% extends 'main/base.html' %}
{% load i18n %}
{% load humanize %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="pathway text-uppercase col-lg-12">
                    <a class="pathway_link" href="/">главная</a> &gt;&gt; {{object.title}}
                </div>  <!-- /.pathway -->
            </div>  <!-- /.row -->
            
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>{{object.title}}</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
                
            <div class="row">
                <div class="i-content col-sm-12">
                    {{object.description|safe}}

                </div>  <!-- /.i-content -->
            </div>  <!-- /.row -->
            {% block additional_content %}
            {% endblock %}
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->
{% endblock %}
