{% extends 'main/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Личные данные {{user.get_full_name}}</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
            
            <div class="row">                   
                <div class="regform center-block col-sm-8"> 
                    <table class="orderpage_table">
                        <thead>
                            <tr>
                                <th>Личные данные</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Имя</td>
                                <td>{{object.first_name}}</td>
                            </tr>
                            <tr>
                                <td>Фамилия</td>
                                <td>{{object.last_name}}</td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td>{{object.phone}}</td>
                            </tr>
                            <tr>
                                <td>Адрес</td>
                                <td>{{object.delivery}}</td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td>{{object.email}}</td>
                            </tr>
                            <tr>
                                <td>Дата рождения</td>
                                <td>{{object.birthday}}</td>
                            </tr>
                            <tr>
                                <td><br><a style="color: #e77352;" href="#" data-toggle="modal" data-target="#profile">изменить личные данные</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a style="color: #e77352;" href="{% url 'order-list' %}">заказы пользователя</a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>    <!-- /.orderpage_table -->
                    <br>
                    <br>
                    <table class="orderpage_table">
                        <thead>
                            <tr>
                                <th>Учетные данные</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Логин</td>
                                <td>{{object.username}}</td>
                            </tr>
                            <tr>
                                <td><br><a style="color: #e77352;" href="#" data-toggle="modal" data-target="#password">изменить пароль</a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>    <!-- /.orderpage_table -->
                    <br>
                    <br>
                    <table class="orderpage_table">
                        <thead>
                            <tr>
                                <th>ФИО</th>
                                <th>День рождения</th>
                                {% comment %}
                                <th></th>
                                {% endcomment %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in object.members %}
                            <tr>
                                <td>{{member.name}}</td>
                                <td>{{member.m_birthday}}</td>
                                {% comment %}
                                <td><a style="color: #e77352;" href="javascript:void(0)" class="change-member" data="{{member.pk}}" data-name="{{member.name}}" data-birthday="{{member.birthday}}">изменить</a></td>
                                {% endcomment %}
                            </tr>
                            {% endfor %}
                            {% if object.members|length < 5 %}
                            <tr>
                                <td>
                                    <a style="color: #e77352;" href="javascript:void(0)" class="add-member">добавить члена семьи</a>
                                </td>
                                <td></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>    <!-- /.orderpage_table -->
                    <div class="member-text">
                        {{site_profile.member|safe}}
                    </div>
                </div>  <!-- /.regform -->              
            </div>  <!-- /.row -->              
        </div>  <!-- /.container -->    
    </div>  <!-- /.main -->
{% endblock %}


{% block modals %}
    {{block.super}}

    {% if user.is_authenticated %}
    <!-- /.login form -->
    <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="loginbox modal-content">        
                <div class="loginbox_inner center-block col-md-8 col-sm-10 pos-rel">
                    <button type="button" class="loginbox_close close text-center pos-abs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
                    <div class="loginbox_title text-uppercase i-icon">Изменить личные данные</div>
        
                    <form method='post' action="{% url 'profile-update' %}">
                        {% csrf_token %} 
                        {{profile_form.non_field_errors}} 
                        {{profile_form.username}}
                        {{profile_form.email}}           
                        <ul class="loginbox_list list-unstyled">
                            <li class="loginbox_list__item">
                                <label class="loginbox_list__item-label">{{profile_form.first_name.label}}</label>
                                {{profile_form.first_name.errors}}
                                {{profile_form.first_name}}
                            </li>
                            <li class="loginbox_list__item">
                                <label class="loginbox_list__item-label">{{profile_form.last_name.label}}</label>
                                {{profile_form.last_name.errors}}
                                {{profile_form.last_name}}
                            </li>
                            <li class="loginbox_list__item">
                                <label class="loginbox_list__item-label">{{profile_form.phone.label}}</label>
                                {{profile_form.phone.errors}}
                                {{profile_form.phone}}
                            </li>
                            <li class="loginbox_list__item">
                                <label class="loginbox_list__item-label">{{profile_form.birthday.label}}</label>
                                {{profile_form.birthday.errors}}
                                {{profile_form.birthday}}
                            </li>
                            <li class="loginbox_list__item">
                                <label class="loginbox_list__item-label">{{profile_form.delivery.label}}</label>
                                {{profile_form.delivery.errors}}
                                {{profile_form.delivery}}
                            </li>
                            <li class="loginbox_list__item">
                              <input class="submit-item common-style" type="submit" value="Сохранить" />
                            </li>
                        </ul> <!-- /.regform -->  
                    </form>
                </div>  <!-- /.regform -->  
            </div>  <!-- /.modal-content -->
        </div>
    </div>  <!-- /.modal -->

    <!-- /.login form -->
    <div class="modal fade" id="password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="loginbox modal-content">        
                <div class="loginbox_inner center-block col-md-8 col-sm-10 pos-rel">
                    <button type="button" class="loginbox_close close text-center pos-abs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
                    <div class="loginbox_title text-uppercase i-icon">Изменить пароль</div>
        
                    <form method='post' action="{% url 'change-password' %}">
                        {% csrf_token %}   
                        {{password_form.non_field_errors}}              
                        <ul class="loginbox_list list-unstyled">
                            <li class="loginbox_list__item">
                                <label class="loginbox_list__item-label">{{password_form.password.label}}</label>
                                {{password_form.password.errors}}
                                {{password_form.password}}
                            </li>
                            <li class="loginbox_list__item">
                                <label class="loginbox_list__item-label">{{password_form.confirm_password.label}}</label>
                                {{password_form.confirm_password.errors}}
                                {{password_form.confirm_password}}
                            </li>
                            <li class="loginbox_list__item">
                              <input class="submit-item common-style" type="submit" value="Сохранить" />
                            </li>
                        </ul> <!-- /.regform -->  
                    </form>
                </div>  <!-- /.regform -->  
            </div>  <!-- /.modal-content -->
        </div>
    </div>  <!-- /.modal -->

    <!-- /.login form -->
    <div class="modal fade" id="member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="loginbox modal-content">        
                <div class="loginbox_inner center-block col-md-8 col-sm-10 pos-rel">
                    <button type="button" class="loginbox_close close text-center pos-abs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
                    <div class="loginbox_title text-uppercase i-icon">Член семьи</div>
        
                    <form method='post' action="{% url 'profile-member-create' %}">
                        {% csrf_token %}  
                        {{member_form.non_field_errors}}              
                        <ul class="loginbox_list list-unstyled">
                            <li class="loginbox_list__item">
                                <label class="loginbox_list__item-label">{{member_form.name.label}}</label>
                                {{member_form.name.errors}}
                                {{member_form.name}}
                            </li>
                            <li class="loginbox_list__item">
                                <label class="loginbox_list__item-label">{{member_form.m_birthday.label}}</label>
                                {{member_form.m_birthday.errors}}
                                {{member_form.m_birthday}}
                            </li>
                            <li class="loginbox_list__item">
                              <input class="submit-item common-style" type="submit" value="Сохранить" />
                            </li>
                        </ul> <!-- /.regform -->  
                    </form>
                </div>  <!-- /.regform -->  
            </div>  <!-- /.modal-content -->
        </div>
    </div>  <!-- /.modal -->
    {% endif %}

{% endblock %}

{% block js_extra %}
    <script type="text/javascript" src="{% static 'main/js/member.js' %}"></script>
    <script type="text/javascript">
        var addMemberUrl = '{% url "profile-member-create" %}'; 
        var changeMemberUrl = '{% url "profile-member-update" 0 %}'; 
        {% if profile_form.errors %}
        $('#profile').modal('show');
        {% endif %}
        {% if password_form.errors %}
        $('#password').modal('show');
        {% endif %}
        {% if member_form.errors %}
        $('#member').modal('show');
        {% endif %}
    </script>
{% endblock %}
