{% extends 'main/base.html' %}
{% load i18n %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Сброс пароля</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
            
            <div class="row">                   
                <div class="regform center-block col-md-4 col-sm-6">                    
                        <form method='post' action=''>   
                            {% csrf_token %}                        
                            <ul class="regform_list list-unstyled">
                                <li class="regform_list__item">
                                    {{form.email.errors}}
                                    {{form.email}}
                                </li>
                                <li class="regform_list__item">
                                    <input class="submit-item common-style" type="submit" value="Cбросить" />
                                </li>
                            </ul>   <!-- /.regform -->  
                        </form>
                </div>  <!-- /.regform -->              
            </div>  <!-- /.row -->              
        </div>  <!-- /.container -->    
    </div>  <!-- /.main -->
{% endblock %}
