{% extends 'main/base.html' %}
{% load i18n %}
{% load main_tags %}
{% load humanize %}
{% load staticfiles %}
{% load thumbnail %}

{% block body_class %}{% endblock %}


{% block content %}
    <header class="header"></header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="pathway text-uppercase col-lg-12">
                    <a class="pathway_link" href="/">главная</a> &gt;&gt; отзывы
                </div>  <!-- /.pathway -->
            </div>  <!-- /.row -->
            
            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Отзывы</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
                
            <div class="row">
                {% for review in object_list %}
                <article class="article col-md-4 col-sm-6">
                    <div class="article_date">{{review.creation_date|naturaltime}}</div>
                    
                    <h2>{{review.name}}</h2>
                    {% if review.photo %}
                    {% thumbnail review.photo "100x100" crop="center" as thumb_img %}
                    <img class="img-responsive" style="float: left; margin: 5px;" src="{{thumb_img.url}}">
                    {% endthumbnail %}
                    {% endif %}
                    <p>{{review.question|safe}}</p>
                </article>  <!-- /.article -->
                {% endfor %}
            </div>  <!-- /.row -->

            <div class="row text-center">
                {% block pagination %}
                {% if page_obj.paginator.num_pages > 1 %}
                <ul class="pagination col-lg-12">
                    {% for num_page in page_obj.paginator.num_pages|range %}
                    <li class="{% if num_page == page_obj.number %}active{% endif %}"><a href="?page={{num_page}}">{{num_page}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endblock %}
            </div>

            <div class="row">
                <div class="title-holder col-lg-12">
                    <h1>Оставить отзыв</h1>
                </div>  <!-- /.title-holder -->
            </div>  <!-- /.row -->
            <div class="row">                   
                <div class="regform col-sm-8">                    
                    <form method='post' action="{% url 'feedback' %}?next={{path}}" enctype="multipart/form-data">   
                        {% csrf_token %}  
                          {% for message in messages %}
                              {% if message.level_tag == 'error' and 'feedback' in message.extra_tags %}
                              {{message|safe}}
                              <br>
                              {% endif %}
                          {% endfor %}                  
                        <ul class="regform_list list-unstyled">
                            <li class="regform_list__item"  style="display: none;">
                                {{feedback_form.feedback_type.errors}}
                                {{feedback_form.feedback_type}}
                            </li>
                            <li class="regform_list__item">
                                {{feedback_form.name.errors}}
                                {{feedback_form.name}}
                            </li>
                            <li class="regform_list__item">
                                {{feedback_form.photo.errors}}
                                {{feedback_form.photo}}
                            </li>
                            <li class="regform_list__item">
                                {{feedback_form.phone.errors}}
                                {{feedback_form.phone}}
                            </li>
                            <li class="regform_list__item">
                                {{feedback_form.address.errors}}
                                {{feedback_form.address}}
                            </li>
                            <li class="regform_list__item">
                                {{feedback_form.question.errors}}
                                {{feedback_form.question}}
                            </li>
                            <li class="regform_list__item">
                                <input class="submit-item common-style" type="submit" value="Отправить" />
                            </li>
                        </ul>   <!-- /.regform -->  
                    </form>
                </div>  <!-- /.regform -->             
            </div>  <!-- /.row --> 
        </div>  <!-- /.container -->
    </div>  <!-- /.main -->

{% endblock %}
