{% extends 'main/base.html' %}
{% load i18n %}


{% block content %}
<div class="main">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans 'Ошибка 403' %}</h1>
            </div>
            <div class="panel-body">
                {% trans 'Нет доступа. Обратитесь в службу поддержки.' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}