@media (min-width: 1280px) {
	.container {
		width: 1280px;
		}
	
	.top_right,
	.i-nav {
		text-align: right;
		}
	
	.top_right__list-item {
		margin: 0 10px 0 0;
		display: inline-block;
		vertical-align: top;
		}
		
	.i-nav {
		margin-top: -40px;
		}
	
	.top_right__menu {
		margin: 0 15px 0 0;
		display: inline-block;
		vertical-align: top;
		}
	
	.positem_infoholder:before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -20px;
		border-width: 15px 0 15px 20px;
		border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;
		border-style: solid;
		}
	
	.positem-holder:nth-child(even) .positem_infoholder:before {
		right: 0;
		border-width: 15px 20px 15px 0;
		border-color: rgba(0,0,0,0) #fff rgba(0,0,0,0) rgba(0,0,0,0);
		}
	
	/* position.html */
		
	.i-position.positem h1 {
		margin: 0 0 35px;
		padding: 0 100px 0 0;
		}
	
	.i-position.positem .positem_infoholder__price {
		position: absolute;
		top: 45px;
		right: 50px;
		}
	
	.i-position.positem .positem_infoholder__buttons {
		margin: 0 0 35px;
		}
	
	.i-position.positem .carousel-indicators {
		left: 10px;
		bottom: 10px;
		margin: 0;
		width: auto;
		text-align: left;
		}
	}
	
@media (max-width: 1279px) {
	
	/* position.html */
	
	.i-position.positem h1 {
		margin: 0 0 20px;
		}
	
	.i-position.positem .positem_infoholder__price {
		margin: 0 0 20px;
		}
	
	.i-position.positem .positem_infoholder__buttons {
		margin: 0 0 15px;
		}
	
	.i-position.positem .carousel-indicators {
		left: 0;
		bottom: -100px;
		margin: 0;
		width: 100%;
		text-align: center;
		}
	}
	
@media (min-width: 1000px) and (max-width: 1279px) {		
	.top_logo__item .text-responsive {
		font-size: 0.9em;
		}

	.container {
		width: 1024px;
		}
		
	.top_logo {	
		width: 300px;
		}
		
	.top_right {	
		width: 720px;
		margin: 5px 0 0;
		}
	
	.top_right__list  {
		width: 33.3333%;
		margin: 0 -3px 0 0;
		}
	
	.top_right__list:first-child {
		padding: 0 0 0 50px;
		}
	
	.top_right__list:nth-child(2) {
		padding: 0 0 0 40px;
		}
	
	.top_right__list:last-child {
		padding: 0 0 0 120px;
		}
	
	.top_right__list-item {
		margin: 0 0 15px;
		}
		
	.top_right__list-item.i-phone {
		margin-left: -20px;
		}
	
	.top_right__list-item .item-link,
	.top_right__list-item .item-link:hover {
		display: inline-block;
		vertical-align: top;
		}
		
	.i-nav {
		width: 100% !important;
		margin-top: 10px;
		margin-left: 0 !important;
		}
	
	.top_right__menu {
		margin: 0 15px 0 0;
		display: inline-block;
		vertical-align: top;
		}
		
	.top_right__menu-item {
		margin: 0 13px 0 0;
		}
		
	@media all and (-webkit-min-device-pixel-ratio:0) {	
		.top_right__cart,
		.top_right__cart:hover,
		.top_right__cart:focus {
			margin: 0 0 0 -10px;
			}
		}
		
	.top_right__menu-item .item-link,
	.top_right__menu-item .item-link:hover {
		padding-left: 15px;
		padding-right: 15px;
		}
		
	.positem_imgholder.col-md-6 {
		width: 40%;
		}
		
	.positem_infoholder.col-md-6 {
		width: 60%;
		}
		
	.positem_infoholder__buttons-item .item-link,
	.positem_infoholder__buttons-item .item-link:hover {
		padding-left: 10px;
		padding-right: 10px;
		}
		
	.positem_infoholder__buttons-item .item-link.i-cart,
	.positem_infoholder__buttons-item .item-link.i-cart:hover {
		padding-left: 30px;
		padding-right: 10px;
		}
	
	.footer_menu__item .item-link,
	.footer_menu__item .item-link:hover {
		font-size: 0.85em;
		}
	
	/* position.html */
		
	.i-position.positem .positem_imgholder.col-md-6 {
		width: 50%;
		}
		
	.i-position.positem .positem_infoholder.col-md-6 {
		width: 50%;
		}
	
	.i-position.positem .positem_infoholder__buttons-item {
		margin-right: 0;
		}
	}
	
@media (min-width: 1000px) {	
	.positem-holder:nth-child(even) .positem_imgholder,
	.positem-holder:nth-child(even) .positem_infoholder {
		float: right;
		}
		
	.positem_imgholder__link,
	.positem_imgholder__link:hover {
		position: absolute;
		bottom: 15px;
		left: 50%;
		}
		
	.footer_right {
		text-align: right;
		}
	
	/* position.html */
	
	.positem_infoholder__list-item .pull-right {
		padding: 0 35px 0 0;
		}

	/* map */
	
	.mapbox {
		padding: 0 150px;
		}
		
	.mapbox:before,
	.mapbox:after {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -200px;
		padding: 400px 0 0 313px;
		background: url(../img/flowers.png) no-repeat scroll 0 0 rgba(0,0,0,0);
		z-index: 1;
		}
		
	.mapbox:before {
		left: 0;
		}
		
	.mapbox:after {
		right: 0;
		}
	}
	
@media (min-width: 1200px) {
	/* .orderpage_table-holder.table-responsive {
		overflow-x: visible;
		} */
	}