/* common styles */

@font-face {
    font-family: 'EBznUft6';
    src: url('../fonts/EBznUft6.eot');
    src: url('../fonts/EBznUft6.eot') format('embedded-opentype'),
         url('../fonts/EBznUft6.woff2') format('woff2'),
         url('../fonts/EBznUft6.woff') format('woff'),
         url('../fonts/EBznUft6.ttf') format('truetype'),
         url('../fonts/EBznUft6.svg#EBznUft6') format('svg');
	}

body {
	color: #050505;
	font-size: 18px;
	font-family: "Ubuntu",Helvetica,Arial,sans-serif;
	line-height: 1;
	}
html {
  	overflow-y: scroll;
  	overflow-x: auto;
	}
	
address,
ul, ol {
	margin-bottom: 0;
	}
	
h1,h2,h3,h4 {
	margin: 0;
	font-weight: normal;
	font-family: "Lora",Helvetica,Arial,sans-serif;
	}
	
a, a:hover, a:focus {
	color: #000;
	outline: none;
	border: 0;
	}
	
.text-responsive {
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}

.i-icon,
.pos-rel {
	 position: relative;
	 }

.pos-abs {
	 position: absolute;
	 }
	 
.no-dec,
.no-dec:hover {
	text-decoration: none;
	}
	
.markered-text:after,
.positem:after,
.positem_infoholder__list:after,
.i-icon:before,
.seealso_inner:after,
.positem_imgholder__link.i-gift:after,
.positem_infoholder__buttons-item .item-link.i-cart:after {
	content: '';
	position: absolute;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	}
	
.top {
	padding: 25px 0 20px;
	background: #e77352;
	}
	
.top_logo__item,
.top_logo__item:hover,
.top_logo__item:focus {
	display: inline-block;
	vertical-align: top;
	font-size: 85px;
	color: #fff;
	text-decoration: none;
	font-family: "EBznUft6",Helvetica,Arial,sans-serif;
	}
	
.top_logo__item:before {
	content: 'салон флористики';
	position: absolute;
	right: 0;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	}
	
.footer_menu__item,	
.top_right__list,	
.top_right__cart,
.top_right__menu-item {
	display: inline-block;
	vertical-align: top;
	}
	
.top_right__list-item,
.top_right__list-item .item-link,
.top_right__list-item .item-link:hover {
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.5px
	}
	
.top_right__list-item .item-link,
.top_right__list-item .item-link:hover {
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px dotted #fff;
	}
	
.top_right__list-item.i-mail .item-link,
.top_right__list-item.i-mail .item-link:hover {
	border-color: rgba(0,0,0,0);
	}
	
.top_right__list-item {
	font-size: 16px;
	}
	
.top_right__list-item .item-link {
	font-size: 14px;
	}
	
.top_right__list-item.i-phone {
	padding: 0 0 0 20px;
	}
	
.i-icon.i-phone:before {
	top: 0;
	left: 0;
	padding: 17px 0 0 17px;
	background-position: 0 0;
	}
	
.top_right__list-item.i-chat {
	padding: 0 0 0 22px;
	}
	
.i-icon.i-chat:before {
	top: 0;
	left: 0;
	padding: 19px 0 0 18px;
	background-position: -17px 0;
	}
	
.top_right__list-item.i-mail {
	padding: 0 0 0 22px;
	}
	
.i-icon.i-mail:before {
	top: 1px;
	left: 0;
	padding: 14px 0 0 17px;
	background-position: -35px 0;
	}
	
.footer_menu__item,
.top_right__menu-item {
	margin: 0 2px 0 0;
	}
	
.top_right__menu-item:last-child,
.footer_menu__item:last-child {
	margin-right: 0;
	}
	
.footer_menu__item .item-link,
.footer_menu__item .item-link:hover,
.top_right__menu-item .item-link,
.top_right__menu-item .item-link:hover {
	display: block;
	padding: 8px 10px;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}
	
.footer_menu__item .item-link:hover,
.top_right__menu-item .item-link:hover {
	background: rgba(0,0,0,0.1);
	}
	
.footer_menu__item.active .item-link,
.footer_menu__item.active .item-link:hover	
.top_right__menu-item.active .item-link,
.top_right__menu-item.active .item-link:hover {
	color: #000;
	}
	
.top_right__cart,
.top_right__cart:hover,
.top_right__cart:focus {
	padding: 25px 0 0 40px;
	color: #fff;
	}
	
.i-icon.i-cart:before {
	top: 0;
	left: 0;
	padding: 24px 0 0 25px;
	background-position: 0 -19px;
	}
	
.top_right__cart-value {
	width: 20px;
	height: 20px;
	line-height: 20px;
	top: -10px;
	right: 6px;
	border-radius: 50%;
	background: #000;
	font-size: 11px;
	font-weight: bold;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	}
	
.i-panel {
	margin: 0;
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #e77352;
	z-index: 1030;
	}
	
.i-panel .i-nav.container {
	margin: 0 auto;
	float: none;
	text-align: center;
	}
	
.header {
	margin: 0 0 25px;
	}
	
.carousel.slide {
	background: url(../img/carouselbg.jpg) no-repeat scroll 0 0 rgba(0,0,0,0);
	background-size: cover;
	}
	
.header .carousel-control {
	width: auto;
	bottom: auto;
	background: rgba(231,115,82,0.5);
	text-shadow: none;
	opacity: 1;
	font-size: 30px;
	padding: 70px 0 0 70px;
	}
	
.header .carousel-control .glyphicon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
	}
	
.header .carousel-indicators {
	width: auto;
	bottom: 0;
	padding: 5px 20px;
	background: rgba(0,0,0,0.2);
	}
	
.header .indicators_item {
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	background: #fff;
	margin: 0 20px 0 0;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}
	
.header .indicators_item.active,
.header .indicators_item:hover {
	background: #e77352;
	border: 1px solid #e77352;
	}
	
.header .indicators_item:last-child,
.header .indicators_item.active:last-child {
	margin-right: 0;
	}
	
.main_filter {
	margin: 0 0 25px;
	}
	
.main_filter__item {
	margin: 0 5px 0 0;
	padding: 7px 15px 6px;
	display: inline-block;
	vertical-align: top;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}
	
.main_filter__item:hover,
.main_filter__item.active {
	background: #e77352;
	}
	
.main_filter__item-link,
.main_filter__item-link:focus {
	padding: 0 0 1px;
	display: block;
	border-bottom: 1px dotted #000;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	}
	
.main_filter__item:hover .main_filter__item-link,
.main_filter__item.active .main_filter__item-link,
.main_filter__item-link:hover {
	border-bottom: 1px dotted rgba(0,0,0,0);
	color: #fff;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}
	
.positem {
	margin-bottom: 30px;
	}
	
.positem-inner {
	padding: 15px;
	border: 1px solid #a9a9a9;
	overflow: hidden;
	}
	
.positem_infoholder {
	padding-top: 30px;
	padding-bottom: 15px;
	background: #f7f7f7;
	}
	
.positem_infoholder__title {
	margin: 0 0 15px;
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-family: "Lora",Helvetica,Arial,sans-serif;
	}
	
.positem_infoholder__link,
.positem_infoholder__link:hover {
	display: block;
	margin: 0 0 12px;
	font-size: 14px;
	text-decoration: underline;
	}
	
.positem .scroller {
	margin: 0 0 5px;
	padding: 0 20px;
	}
	
.positem .scroller_nav {
	top: 50%;
	margin-top: -10px;
	cursor: pointer;
	color: #e77352;
	opacity: 0;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}
	
.scroller:hover .scroller_nav {
	opacity: 1;
	}
	
.positem .scroller_nav.nav-left {
	left: 0;
	}
	
.positem .scroller_nav.nav-right {
	right: 0;
	}
	
.positem_infoholder__gallery-item {
	padding: 0 5px;
	}
	
.positem_infoholder__price {
	margin: 0 0 15px;
	font-size: 18px;
	color: #e77352;
	}
	
.positem_infoholder__price:after {
	content: "P";
	margin: 0 0 0 5px;
	text-decoration: line-through;
	}
	
.positem_infoholder__buttons {
	overflow: hidden;
	}
	
.positem_infoholder__buttons-item:first-child {
	float: left;
	}
	
.positem_infoholder__buttons-item:last-child {
	float: right;
	}

.submit-item,
.positem_infoholder__buttons-item .item-link,
.positem_infoholder__buttons-item .item-link:hover {
	padding: 10px 15px 12px;
	display: block;
	font-size: 14px;
	color: #e77352;
	border: 2px solid #e77352;
	text-decoration: none;
	}

.submit-item,	
.pagination a,	
.positem_infoholder__buttons-item .item-link,
.positem_infoholder__buttons-item .item-link:before,
.positem_infoholder__buttons-item .item-link:after {
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}

.submit-item:hover,
.cartbox_info__buttons-item.positem_infoholder__buttons-item .item-link.active,	
.cartbox_info__buttons-item.positem_infoholder__buttons-item .item-link:hover,	
.positem_infoholder__buttons-item .item-link:hover {
	color: #fff;
	background: #e77352;
	}
	
.submit-item {
	margin: 0 auto;
	}

.cartbox_info__buttons-item.positem_infoholder__buttons-item .item-link.active:hover {
	color: #e77352;
	background: #f7f7f7;
	}
	
.positem-holder .positem_imgholder {
	overflow: hidden;
	}
	
.positem_infoholder__buttons-item .item-link.i-cart,
.positem_infoholder__buttons-item .item-link.i-cart:hover {
	padding-left: 30px;
	}
	
.positem_infoholder__buttons-item .item-link.i-cart:before,
.positem_infoholder__buttons-item .item-link.i-cart:after {
	left: 8px;
	top: 11px;
	}
	
.positem_infoholder__buttons-item .item-link.i-cart:before {
	padding: 15px 0 0 19px;
	background-position: -39px -15px;
	}
	
.positem_infoholder__buttons-item .item-link.i-cart:after {
	padding: 15px 0 0 18px;
	background-position: -91px 0;
	opacity: 0;
	}
	
.positem_infoholder__buttons-item .item-link.i-cart:hover:before {
	opacity: 0;
	}
	
.positem_infoholder__buttons-item .item-link.i-cart:hover:after {
	opacity: 1;
	}
		
.positem_imgholder__link,
.positem_imgholder__link:hover,
.positem_imgholder__link:focus {
	padding: 10px 15px 12px 35px;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #fff;
	border: 2px solid #e77352;
	text-decoration: none;
	background: #e77352;
	}
		
.positem_imgholder__link,
.positem_imgholder__link:before,
.positem_imgholder__link:after {
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}
	
.positem_imgholder__link:hover {
	color: #e77352;
	background: #fff;
	}

.positem_imgholder__link.i-gift:after,	
.i-icon.i-gift:before {
	top: 9px;
	left: 10px;
	}
	
.i-icon.i-gift:before {
	padding: 16px 0 0 16px;
	background-position: -39px -30px; 
	}
	
.positem_imgholder__link.i-gift:after {
	padding: 16px 0 0 14px;
	background-position: -91px -15px;
	opacity: 0;
	}
	
.positem_imgholder__link.i-gift:hover:before {
	opacity: 0;
	}
	
.positem_imgholder__link.i-gift:hover:after {
	opacity: 1;
	}
	
.fresco.glyphicon {
	display: block;
	top: auto;
	}
	
.fresco.glyphicon:hover:before,
.fresco.glyphicon:hover:after {
	opacity: 1;
	}
	
.fresco.glyphicon:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(231,115,82,0.5);
	z-index: 1;
	opacity: 0;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}
	
.fresco.glyphicon:before {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
	font-size: 30px;
	color: #fff;
	z-index: 2;
	opacity: 0;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}
	
.positem:before,
.positem:after {
	background-color: #fff;
	}
	
.footer {
	padding: 25px 0 30px;
	background: #e77352;
	}
	
.footer_menu__item {
	font-size: 15px;
	}

.footer_right__list,
.footer_right__text,
.footer_right__list-item {
	display: inline-block;
	vertical-align: middle;
	}

.footer_right__list {
	margin: 0 20px 0 0;
	}
	
.footer_right__list-item .item-link,
.footer_right__list-item .item-link:hover {
	padding: 25px 0 0 25px;
	display: block;
	border: 1px solid #fff;
	border-radius: 50%;
	}
	
.footer_right__text {
	font-size: 12px;
	color: #fff;
	}
	
.footer_right__list-item .item-link.i-icon:before {
	top: 50%;
	left: 50%;
	}
	
.item-link.i-vk:before {
	margin: -5px 0 0 -4px;
	padding: 10px 0 0 10px;
	background-position: 0 -43px;
	}
	
.item-link.i-fb:before {
	margin: -7px 0 0 -4px;
	padding: 14px 0 0 8px;
	background-position: -10px -43px;
	}
	
.item-link.i-tw:before {
	margin: -5px 0 0 -6px;
	padding: 10px 0 0 13px;
	background-position: -18px -43px;
	}
	
.item-link.i-gp:before {
	margin: -7px 0 0 -8px;
	padding: 14px 0 0 16px;
	background-position: -66px -66px;
	}
	
.item-link.i-lj:before {
	margin: -8px 0 0 -7px;
	padding: 17px 0 0 14px;
	background-position: -77px 0;
	}
	
.item-link.i-od:before {
	margin: -7px 0 0 -5px;
	padding: 15px 0 0 11px;
	background-position: -77px -17px;
	}

.item-link.i-in:before {
    margin: -6px 0 0 -6px;
    padding: 13px 0 0 13px;
    background-position: -168px -54px;
 	}
	
/* inner */

.i-articles .header {
    max-height: 120px;
    overflow: hidden;
	}
	
.header_img {
	width: 100%;
	}

.i-sidebar h2,
.title-holder h1 {
	margin: 0 0 30px;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	}
	
.article {
	margin: 0 0 35px;
	}
	
.i-sidebar .article {
	margin: 0 0 50px;
	}
	
.article_date {
	margin: 0 0 20px;
	font-size: 12px;
	color: #a2a2a2;
	}
	
.i-sidebar .article_date {
	margin: 0 0 15px;
	}
	
.article h2,
.article h3 {
	margin: 0 0 20px;
	font-size: 30px;
	line-height: 36px;
	}
	
.i-sidebar .article h3 {
	margin: 0 0 10px;
	}
	
.article p {
	margin: 0 0 20px;
	font-size: 14px;
	line-height: 18px;
	}
	
.i-sidebar .article p {
	margin: 0 0 30px;
	}
	
.article_readmore,
.article_readmore:hover {
	font-size: 14px;
	text-decoration: underline;
	}
	
.pathway {
	font-size: 12px;
	margin: 0 0 25px;
	letter-spacing: 1px;
	}
	
.pathway_link,
.pathway_link:hover {
	color: #e77352;
	text-decoration: underline;
	}
	
.i-inner .main {
	margin: 0 0 35px;
	}
	
.i-content h2 {
	margin: 0 0 12px;
	font-size: 18px;
	font-weight: bold;
	font-family: "Ubuntu",Helvetica,Arial,sans-serif;
	}
	
/* .i-content ol,
.i-content ul {
	padding: 0 0 0 35px;
	} */
	
.i-content p,
.i-content li {
	margin: 0 0 20px;
	font-size: 14px;
	line-height: 18px;
	}
	
/* position.html */

/* .i-position.positem {
	overflow: hidden;
	} */

.i-position.positem:before,
.i-position.positem:after {
	background-image: none;
	background-color: rgba(0,0,0,0);
	position: static;
	}

.i-position.positem .positem_infoholder {
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	background: none;
	}

.i-position.positem .positem-inner {
	padding: 45px 40px;
	border: 0;
	background: #f7f7f7;
	}

.i-position.positem h1 {
	text-transform: uppercase;
	}

.i-position.positem h2 {
	margin: 0 0 15px;
	font-family: "Ubuntu",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	}

.positem_infoholder__share-item,
.i-position.positem p {	
	margin: 0 0 22px;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	}

.positem_infoholder__share-item {
	margin-bottom: 0;
	}
	
.i-position.positem .positem_infoholder__price {
	font-weight: 300;
	font-size: 24px;
	color: #000;
	}
	
.i-position.positem .positem_infoholder__buttons {
	text-align: left;
	}
	
.i-position.positem .positem_infoholder__buttons-item {
	margin: 0 3px 0 0;
	display: inline-block;
	vertical-align: top;
	float: none;
	}
	
.i-position.positem .positem_imgholder__link.i-gift {
	margin: 0 !important;
	position: relative !important;
	bottom: auto;
	left: auto;
	}
	
.positem_infoholder__list {
	margin: 0 0 25px;
	padding: 15px 20px;
	border: 1px solid #a9a9a9;
	}
	
.positem_infoholder__list-item {
	padding: 0 0 15px;
	margin: 0 0 13px;
	font-size: 14px;
	overflow: hidden;
	border-bottom: 1px solid #a9a9a9;
	}
	
.positem_infoholder__list-item:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 0;
	}
	
.positem_infoholder__list:before,
.positem_infoholder__list:after {
	top: 50%;
	margin-top: -35px;
	padding: 71px 0 0 20px;
	background-position: -57px 5px;
	background-color: #f7f7f7;
	}
	
.positem_infoholder__list:before {
	left: -10px;
	}
	
.positem_infoholder__list:after {
	right: -10px;
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	}
	
.positem_infoholder__share-item .item-link,
.positem_infoholder__share-item {
	display: inline-block;
	vertical-align: middle;
	}
	
.positem_infoholder__share-item {
	margin: 0 10px 0 0;
	}
	
.custommodal_bottom__item .item-link,
.custommodal_bottom__item .item-link:hover,	
.loginbox_bottom__item .item-link,
.loginbox_bottom__item .item-link:hover,	
.positem_infoholder__share-item .item-link,
.positem_infoholder__share-item .item-link:hover {
	padding: 25px 0 0 25px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #e77352;
	border-radius: 50%;
	}
	
.custommodal_bottom__item .item-link.i-icon:before,
.loginbox_bottom__item .item-link.i-icon:before,
.positem_infoholder__share-item .item-link.i-icon:before {
	top: 50%;
	left: 50%;
	}
	
.custommodal_bottom__item .item-link.i-vk:before,
.loginbox_bottom__item .item-link.i-vk:before,
.positem_infoholder__share-item .item-link.i-vk:before {
	margin: -5px 0 0 -4px;
	padding: 10px 0 0 10px;
	background-position: -82px -33px;
	}
	
.custommodal_bottom__item .item-link.i-fb:before,
.loginbox_bottom__item .item-link.i-fb:before,
.positem_infoholder__share-item .item-link.i-fb:before {
	margin: -7px 0 0 -4px;
	padding: 14px 0 0 8px;
	background-position: -92px -33px;
	}
	
.custommodal_bottom__item .item-link.i-tw:before,
.loginbox_bottom__item .item-link.i-tw:before,
.positem_infoholder__share-item .item-link.i-tw:before {
	margin: -5px 0 0 -6px;
	padding: 10px 0 0 13px;
	background-position: -82px -46px;
	}
	
.custommodal_bottom__item .item-link.i-gp:before,
.loginbox_bottom__item .item-link.i-gp:before,
.positem_infoholder__share-item .item-link.i-gp:before {
	margin: -7px 0 0 -8px;
	padding: 14px 0 0 16px;
	background-position: -82px -57px;
	}
	
.custommodal_bottom__item .item-link.i-lj:before,
.loginbox_bottom__item .item-link.i-lj:before,
.positem_infoholder__share-item .item-link.i-lj:before {
	margin: -8px 0 0 -7px;
	padding: 17px 0 0 14px;
	background-position: -100px -33px;
	}
	
.custommodal_bottom__item .item-link.i-od:before,
.loginbox_bottom__item .item-link.i-od:before,
.positem_infoholder__share-item .item-link.i-od:before {
	margin: -8px 0 0 -6px;
	padding: 15px 0 0 11px;
	background-position: -100px -49px;
	}
	
.i-position.positem .carousel.slide {
	background: none;
	}
	
.i-position.positem .container.pos-rel {
	display: none;
	}
	
.i-position.positem .carousel-inner {
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.13);
	}
	
.i-position.positem .slides_item {
	padding-top: 15px;
	padding-bottom: 15px;
	}
	
.i-position.positem .indicators_item {
	width: auto;
	height: auto;
	max-width: 85px;
	margin: 0 5px 0 0;
	border: 0;
	border-radius: 0;
	}
	
.seealso-title {
	margin: 0 0 30px;
	letter-spacing: 1px;
	}
	
.seealso {
	margin-bottom: 15px;
	}
	
.seealso_inner {
	padding: 15px;
	margin: 0 0 30px;
	border: 1px solid #a9a9a9;
	}
	
.seealso_inner__img  {
	margin-bottom: 10px;
	}
	
.seealso_inner__title {
	margin-bottom: 7px;
	font-size: 20px;
	letter-spacing: 0.5px;
	font-family: "Lora",Helvetica,Arial,sans-serif;
	}
	
.seealso_inner__readmore,
.seealso_inner__readmore:hover {
	margin-bottom: 3px;
	display: block;
	font-size: 14px;
	text-decoration: underline;
	}
	
.col-sm-3:nth-child(odd) .seealso_inner:before,
.col-sm-3:nth-child(odd) .seealso_inner:after {
	top: 50%;
	margin-top: -35px;
	padding: 71px 0 0 20px;
	background-position: -57px 5px;
	background-color: #fff;
	}
	
.col-sm-3:nth-child(odd) .seealso_inner:before {
	left: -10px;
	}
	
.col-sm-3:nth-child(odd) .seealso_inner:after {
	right: -10px;
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	}
	
.col-sm-3:nth-child(even) .seealso_inner:before,
.col-sm-3:nth-child(even) .seealso_inner:after {
	left: 50%;
	margin-left: -35px;
	padding: 20px 0 0 71px;
	background-position: 5px -66px;
	background-color: #fff;
	}
	
.col-sm-3:nth-child(even) .seealso_inner:before {
	top: -10px;
	}
	
.col-sm-3:nth-child(even) .seealso_inner:after {
	right: auto;
	bottom: -10px;
	transform: rotateY(0);
	-moz-transform: rotateY(0);
	-webkit-transform: rotateY(0);
	-o-transform: rotateY(0);
	}
	
/* cart */

.cartbox_info,
.cartbox_item {
	margin: 0 0 35px;
	}

.cartbox_item-inner {
	padding: 35px 25px;
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.13);
	}

.cartbox_item .img-responsive {
	margin-bottom: 25px;
	}
	
.cartbox_item__title {
	margin: 0 0 20px;
	padding: 0 0 20px;
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-family: "Lora",Helvetica,Arial,sans-serif;
	border-bottom: 1px solid #a9a9a9;
	}
	
.cartbox_item__list {
	margin: 0 0 20px;
	padding: 0 30px 20px;
	border-bottom: 1px solid #a9a9a9;
	}
	
.cartbox_item__list-item {
	overflow: hidden;
	font-size: 14px;
	margin: 0 0 15px;
	}
	
.cartbox_item__list-item:last-child {
	margin-bottom: 0;
	}
	
.cartbox_item__price {
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px solid #a9a9a9;
	font-size: 24px;
	font-weight: 300;
	}

.cartbox_info__sale-item .i-item.i-price:after,	
.cartbox_info__list-item .i-item.i-price:after,	
.orderpage_table__price:after,
.cartbox_item__price:after,
.cartbox_item__cartlist-item.price-holder:after {
	content: "P";
	margin: 0 0 0 5px;
	text-decoration: line-through;
	}
	
.cartbox_item__cartlist-item {
	font-size: 14px;
	margin: 0 0 12px;
	}
	
.cartbox_item__cartlist-item.price-holder,
.cartbox_item__cartlist-item.buttons-holder {
	margin: 0 0 20px;
	}
	
.cartbox_item__cartlist-item .i-input {
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	color: #000;
	font-size: 14px;
	font-family: "Ubuntu",Helvetica,Arial,sans-serif;
	border: 2px solid #ddd;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	}
	
.cartbox_item__cartlist-item .i-input.input-text {
	background: #f6f6f6;
	}
	
.cartbox_item__cartlist-item .i-input.input-button {
	background: #ddd;
	}
	
.cartbox_item__cartlist-item .i-input.input-button:hover {
	color: #fff;
	background: #e77352;
	border: 2px solid #e77352;
	}
	
.cartbox_item__cartlist-item.price-holder {
	padding: 5px;
	background: #ddd;
	}
	
.cartbox_item__cartlist-item .item-link,
.cartbox_item__cartlist-item .item-link:hover {
	text-decoration: underline;
	}
	
.cartbox_info__title {
	margin: 0 0 22px;
	padding: 0 0 22px;
	border-bottom: 1px solid #a9a9a9;
	font-weight: 700;
	}
	
.cartbox_info__list {
	margin: 0 0 22px;
	padding: 0 0 22px;
	border-bottom: 1px dotted #000;
	}
	
.cartbox_info__sale {
	margin: 0 0 22px;
	}
	
.cartbox_info p {
	margin: 0 0 20px;
	font-size: 14px;
	line-height: 18px;
	}
	
.cartbox_info .i-item {
	width: 50%;
	margin: 0 -3px 0 0;
	display: inline-block;
	vertical-align: top:
	}
	
.cartbox_info__list-item {
	margin: 0 0 20px;
	font-weight: 300;
	}
	
.cartbox_info__list-item:last-child {
	margin-bottom: 0;
	}
	
.cartbox_info__sale-item {
	font-size: 14px;
	font-weight: 700;
	}
	
.cartbox_info__sale-item .i-title {
	color: #e77352;
	}
	
.cartbox_info__buttons-item.positem_infoholder__buttons-item {
	width: 50%;
	float: none;
	text-align: center;
	margin: 0 0 10px;
	}

.submit-item,
.cartbox_info__buttons-item.positem_infoholder__buttons-item .item-link {
	background: #f7f7f7;
	}

/* order */

.custommodal_inner.center-block ,	
.loginbox_inner.center-block ,	
.orderpage-table.center-block,
.regform.center-block,
.orderpage_form.center-block {
	float: none;
	}
	
.orderpage_table-holder {
	margin: 0 0 45px;
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.13);
	}
	
.orderpage_table {
	width: 100%;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	}
	
.orderpage_table th {
	padding: 8px 20px 6px;
	background: #e77352;
	color: #fff;
	font-weight: 400;
	text-align: center;
	}
	
.orderpage_table td {
	padding: 8px 20px 6px;
	}
	
.orderpage_table .img-responsive {
	max-width: 85px;
	}
	
.orderpage_table .orderpage_table__last {
	padding-top: 20px;
	padding-bottom: 30px;
	}
	
.orderpage_table__last-list {
	overflow: hidden;
	padding-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #a9a9a9;
	}
	
.orderpage_table__last-list .left-item {
	float: left;
	}
	
.orderpage_table__last-list .right-item {
	float: right;
	}
	
.orderpage_table__sales {
	color: #e77352;
	font-weight: 700;
	letter-spacing: 0;
	}
	
.orderpage_table__last .orderpage_table__sales,
.orderpage_table__last .item-link {
	font-size: 14px;
	text-transform: none;
	}
	
.orderpage_table__last .item-link,
.orderpage_table__last .item-link:hover {
	text-decoration: underline;
	letter-spacing: 0;
	}
	
.orderpage_table__last .list-item.right-item {
	font-size: 18px;
	}
	
.orderpage_title {
	margin: 0 0 5px;
	font-size: 18px;
	font-weight: 300;
	}
.orderpage_title_discount {
	margin: 0 0 20px;
	font-size: 18px;
	font-weight: 300;
	color: #e77352;
	}
	
.orderpage_title__link,
.orderpage_title__link:hover {
	text-decoration: none;
	border-bottom: 1px dotted #000;
	}
	
.orderpage_list {
	margin: 0 0 40px;
	}
	
.orderpage_list__item.i-icon {
	padding: 0 0 0 55px;
	}
	
.orderpage_list__item.i-icon:before {
	padding: 48px 0 0 48px;
	top: -15px;
	left: 0;
	}
	
.orderpage_list__item.i-cash:before {
	background-position: -114px 0;
	}
	
.orderpage_list__item.i-paypal:before {
	background-position: -114px -48px;
	}
	
.orderpage_list__item.i-card:before {
	background-position: -162px 0;
	}
	
.orderpage_list__item .radio-button {
	display: none;
	}
	
.orderpage_label {
	padding: 0 0 0 45px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	}
	
.orderpage_label:before {
	content: '';
	margin: -8px 0 0;
	padding: 28px 0 0 28px;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #ddd;
	background: #f6f6f6;
	border-radius: 50%;
	}
	
.orderpage_label:after {
	content: '';
	padding: 14px 0 0 14px;
	position: absolute;
	top: 0;
	left: 8px;
	background: #e77352;
	border-radius: 50%;
	display: none;
	}
	
.orderpage_list__item .radio-button:checked + .orderpage_label:after {
	display: block;
	}
	
.orderpage_form__item {
	margin: 0 0 15px;
	}
	
.input-item {
	padding: 15px 13px;
	font-size: 14px;
	font-weight: 700;
	color: #a9a9a9;
	border-radius: 3px;
	border: 1px solid #a9a9a9;
	box-sizing: border-box;
	}
	
.input-item:hover,
.input-item:focus {
	margin: -2px 0 0;
	border: 2px solid #e77352;
	}

.input-item:invalid,	
.input-item:hover,
.input-item:focus {
	box-shadow: none;
	}
	
/* reg */
	
.regform_list__item .input-item,
.regform_list__item .submit-item {
	width: 100%;
	}
	
.regform_list {
	padding: 35px;
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.13);
	}
	
.regform_list__item {
	margin: 0 0 10px;
	}
	
/* loginform */

.custommodal.modal-content,
.loginbox.modal-content {
	box-shadow: none;
	background-color: rgba(0,0,0,0);
	border-radius: 0;
	border: 0;
	}
	
.custommodal_close.close,
.loginbox_close.close {
	width: 45px;
	height: 45px;
	padding: 0 0 20px;
	opacity: 1;
	float: none;
	text-shadow: none;
	color: #fff;
	font-size: 40px;
	font-weight: 300;
	background: #e77352;
	border-radius: 50%;
	top: -30px;
	right: -30px;
	}
	
.custommodal_inner.center-block,
.loginbox_inner.center-block {
	border-radius: 6px;
	border: 1px solid #e3e3e3;
	background: #fff;
	}
	
.custommodal_title,
.loginbox_title {
	color: #e77352;
	font-size: 18px;
	margin: 0 0 20px;
	}
	
.custommodal_list,
.loginbox_list {
	margin: 0 0 30px;
	}
	
.custommodal_list__item,
.loginbox_list__item {
	margin: 0 0 20px;
	}
	
.custommodal_list__item .input-item,
.custommodal_list__item .submit-item,	
.loginbox_list__item .input-item,
.loginbox_list__item .submit-item {
	width: 100%;
	}
	
.custommodal_list__item-label,
.loginbox_list__item-label {
	display: block;
	margin: 0 0 8px;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	}
	
.custommodal_list__item-label .glyphicon,
.loginbox_list__item-label .glyphicon {
	top: 0;
	margin: 0 5px 0 0;
	}
	
.custommodal_list__item-label .glyphicon:before,
.loginbox_list__item-label .glyphicon:before {
	color: rgba(0,0,0,0);
	width: 16px;
	height: 17px;
	line-height: 16px;
	padding: 0 1px;
	display: block;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	background: #ededed;
	background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
	background: -webkit-linear-gradient(top, #ededed 0%,#dedede 100%);
	background: linear-gradient(to bottom, #ededed 0%,#dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
	font-size: 12px;
	}
	
.custommodal_list__item .checkbox-item,
.loginbox_list__item .checkbox-item {
	display: none;
	}
	
.custommodal_list__item .checkbox-item:checked + .custommodal_list__item-label .glyphicon:before,
.loginbox_list__item .checkbox-item:checked + .loginbox_list__item-label .glyphicon:before {
	color: #000;
	}
	
.custommodal_list__item .input-item,
.loginbox_list__item .input-item {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0;
	font-size: 18px;
	font-weight: 400;
	}
	
.custommodal_list__item .submit-item,
.custommodal_list__item .submit-item:hover,	
.loginbox_list__item .submit-item,
.loginbox_list__item .submit-item:hover {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 22px;
	color: #fff;
	background: #e77352;
	border-radius: 3px;
	}
	
.custommodal_bottom__title,
.loginbox_bottom__title {
	margin: 0 0 15px;
	}
	
.custommodal_title:before,
.loginbox_title:before {
	right: 0;
	left: auto !important;
	}
	
/* text.html */

.i-hr {
	width: 100%;
	margin: 30px 0;
	padding: 1px 0 0;
	background: #cbcbcb;
	}
	
.i-hr:before {
	right: 0;
	top: -10px;
	left: auto !important;
	background-color: #fff;
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	}
	
section.i-content h2 {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.5px;
	}
	
.i-content h3 {
	margin: 0 0 25px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Ubuntu",Helvetica,Arial,sans-serif;
	letter-spacing: 0.5px;
	color: #e77352;
	}
	
.i-content h4 {
	margin: 0 0 25px;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Ubuntu",Helvetica,Arial,sans-serif;
	}
	
.i-content ul,
.i-content ol {
	padding-left: 15px;
	}
	
.i-content li {
	line-height: 24px;
	}
	
.markered-text p {
	font-size: 24px;
	line-height: 36px;
	color: #4b4b4b;
	}
	
.i-content th {
	padding: 15px 7px !important;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #e77352;
	border: 0 !important;
	}
	
.i-content td {
	font-size: 14px;
	padding: 15px 10px !important;
	}
	
/* .i-content tbody {
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #ddd;
	} */
	
.i-content tr:last-child td {
	border-bottom: 1px solid #ddd;
	}
	
.i-file,
.i-file:hover  {
	padding: 30px 0 0 70px;
	margin: 0 0 30px;
	display: block;
	text-decoration: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000;
	}
	
.i-file .i-info,
.i-file:hover .i-info  {
	display: block;
	text-decoration: none;
	color: #c2c2c2;
	}
	
.i-file:before {
	top: 0;
	left: 0;
	padding: 71px 0 0 56px;
	background-position: -210px 0;
	}
	
.pagination.col-lg-12 {
	padding-left: 15px;
	padding-right: 15px;
	}
	
.pagination.col-lg-12 li {
	margin: 0 -4px 0 0;
	display: inline-block;
	vertical-align: top;
	}
	
.pagination.col-lg-12 a {
	color: #e77352;
	border: 1px solid #e77352;
	background: #fff;
	}
	
.pagination.col-lg-12 a:hover,
.pagination.col-lg-12 .active a,
.pagination.col-lg-12 .active a:hover {
	color: #fff;
	background: #e77352;
	border: 1px solid #e77352;
	}
	
.errorlist {
	padding: 0;
	margin: 0 0 10px;
	}
	
.errorlist li {
	list-style: none;
	font-size: 14px;
	font-weight: 700;
	color: #e77352;
	}
	
.errorlist + .input-item {
	border: 2px solid #e77352;
	}
	
.mapbox_inner {
	padding: 10px;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.13);
	z-index: 2;
	}

.top_right__list-item.i-user {
	padding: 0 0 0 10px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	}
	
.top_right__list-item.i-user .glyphicon-user {
	position: absolute;
	top: 0;
	left: -8px;
	}

#slides .carousel-inner>.item>a>img, 
#slides .carousel-inner>.item>img, 
#slides .img-responsive, 
#slides .thumbnail a>img, 
#slides .thumbnail>img {
    max-height: 600px !important;
	}

.positem-holder .positem_infoholder__share[class*="gift-actions-"] {
	margin-top: -120px;
	}
	
.positem-holder .social-likes.social-likes_visible {
	padding: 5px;
	background: #fff;
	}
.social-likes__counter{
	display: none;
	}
	
.positem_infoholder__share.gift-actions .item-link.i-icon,
.positem_infoholder__share.gift-actions .item-link.i-icon:hover,
.positem_infoholder__share.gift-actions .item-link.i-icon:focus {
	padding: 25px 0 0 25px !important; 
	background: rgba(0,0,0,0);
	margin-top: 5px;
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	}
.positem_infoholder__share.gift-actions .positem_infoholder__share-item {
 	margin-right: 0 !important;
 	}
 .positem-holder .positem_infoholder__share[class*="gift-actions-"] {
    position: absolute;
    top: 60%;
 	left: 50%;
    margin: -17px 0 0 -75px;
 	}
 
.positem-holder .social-likes.social-likes_visible {
 	margin-right: 0 !important;
 	padding: 5px;
 	background: #fff;
 	}

.order_list__item-label{
	font-size: 13px;
	display: block;
	text-align: left;
	padding-left: 80px;
	}

.member-text{
	margin-top: 20px;
	padding: 5px;
	font-size: 14px;
	}

#id_feedback_type{
	height: 40px;
	}

.delivery_date_mark_visible{
	border: 2px solid #e77352;
	}