@media (max-width: 767px) {
	.top_logo {
		text-align: center;
		margin: 0 0 20px;
		}
		
	.top_logo__item .text-responsive {
		font-size: 0.7em;
		}
		
	.top_right__list {
		display: block;
		overflow: hidden;
		}
	
	.top_right__list-item:first-child {
		float: left;
		}
	
	.top_right__list-item:last-child {
		float: right;
		}
	
	.top_right__list-item  {
		margin-bottom: 15px;
		}
	
	.top_right__list-item .item-link,
	.top_right__list-item .item-link:hover {
		display: inline-block;
		vertical-align: top;
		}
		
	.i-nav {
		padding-top: 50px;
		}
		
	.show-menu {
		padding: 5px 7px;
		position: absolute;
		top: 0;
		left: 15px;
		border-radius: 5px;
		border: 2px solid #fff;
		font-size: 25px;
		color: #fff;
		background: none;
		}
		
	.top_right__cart {
		position: absolute;
		top: 10px;
		right: 15px;
		}
		
	.top_right__menu {
		margin-right: -15px;
		margin-left: -15px;
		display: none;
		}
		
	.top_right__menu-item {
		display: block;
		}
	
	.main_filter__item {
		margin: 0 0 5px;
		display: block;
		}
	
	.main_filter__item-link {
		display: inline-block;
		vertical-align: top;
		}
		
	.positem_imgholder {
		margin: 0 0 15px;
		}
	
	.footer {
		text-align: center;
		}
		
	.footer_menu {
		margin: 0 0 25px;
		}
	
	.footer_menu__item {
		display: block;
		}
		
	.img-holder {
		margin: 0 0 35px;
		}
	
	/* position.html */
	
	.i-position.positem .positem_infoholder__buttons-item {
		margin-bottom: 5px;
		}
		
	.i-position.positem .positem_infoholder {
		margin-bottom: 35px;
		}
		
	.i-position.positem .positem_imgholder {
		margin-bottom: 0;
		}
		
	.i-position.positem .carousel {
		padding-bottom: 110px;
		}
		
	.i-position.positem .carousel-indicators {
		bottom: 0;
		}
		
	/* cart */
	
	.cartbox_info__buttons-item.positem_infoholder__buttons-item {
		margin-right: auto;
		margin-left: auto;
		}
	
	/* order.html */
		
	.orderpage_list__item {
		margin: 0 0 30px;
		}
		
	.orderpage_list__item:last-child {
		margin-bottom: 0;
		}
		
	.orderpage_list__item.i-icon {	
		padding-left: 0;
		}
		
	.orderpage_list__item:before {	
		display: none;
		}
	
	.input-item.common-style {
		width: 100%;
		}
	
	/* loginform */
	
	.custommodal_inner.center-block,
	.loginbox_inner.center-block {
		padding-top: 30px;
		padding-bottom: 30px;
		}
	
	.custommodal_close.close,
	.loginbox_close.close {
		top: 0;
		right: 0;
		}

	.top_right__list-item.i-user {
		padding: 0 0 0 20px;
		}
	
	.top_right__list-item.i-user .glyphicon-user {
		left: 0;
		}

	.order_list__item-label{
		padding-left: 0px;
		}
	}