@media (min-width: 992px) and (max-width: 1199px) {	
	}
	
@media (max-width: 991px) {	
	.positem:nth-child(odd):before,
	.positem:nth-child(odd):after {
		top: 50%;
		margin-top: -35px;
		padding: 71px 0 0 20px;
		background-position: -57px 5px;
		}
		
	.positem:nth-child(odd):before {
		left: 7px;
		}
		
	.positem:nth-child(odd):after {
		right: 7px;
		transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		}
		
	.positem:nth-child(even):before,
	.positem:nth-child(even):after {
		left: 50%;
		margin-left: -35px;
		padding: 20px 0 0 71px;
		background-position: 5px -66px;
		}
		
	.positem:nth-child(even):before {
		top: -10px;
		}
		
	.positem:nth-child(even):after {
		bottom: -10px;
		transform: rotateY(0);
		-moz-transform: rotateY(0);
		-webkit-transform: rotateY(0);
		-o-transform: rotateY(0);
		}
	}
	
@media (min-width: 992px) {	
	.positem-holder:nth-child(odd) .positem:nth-child(odd):before,
	.positem-holder:nth-child(even) .positem:nth-child(even):before,
	.positem-holder:nth-child(odd) .positem:nth-child(odd):after,
	.positem-holder:nth-child(even) .positem:nth-child(even):after {
		top: 50%;
		margin-top: -35px;
		padding: 71px 0 0 20px;
		background-position: -57px 5px;
		}
		
	.positem-holder:nth-child(odd) .positem:nth-child(odd):before,
	.positem-holder:nth-child(even) .positem:nth-child(even):before {
		left: 7px;
		}
		
	.positem-holder:nth-child(odd) .positem:nth-child(odd):after,
	.positem-holder:nth-child(even) .positem:nth-child(even):after {
		right: 7px;
		transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		}
	
	.markered-text:after,
	.markered-text:before,
	.i-hr:before,
	.custommodal_title:before,
	.loginbox_title:before,
	.positem-holder:nth-child(odd) .positem:nth-child(even):before,
	.positem-holder:nth-child(even) .positem:nth-child(odd):before,
	.positem-holder:nth-child(odd) .positem:nth-child(even):after,
	.positem-holder:nth-child(even) .positem:nth-child(odd):after {
		left: 50%;
		margin-left: -35px;
		padding: 20px 0 0 71px;
		background-position: 5px -66px;
		}
		
	.positem-holder:nth-child(odd) .positem:nth-child(even):before,
	.positem-holder:nth-child(even) .positem:nth-child(odd):before {
		top: -10px;
		}
		
	.positem-holder:nth-child(odd) .positem:nth-child(even):after,
	.positem-holder:nth-child(even) .positem:nth-child(odd):after {
		bottom: -10px;
		transform: rotateY(0);
		-moz-transform: rotateY(0);
		-webkit-transform: rotateY(0);
		-o-transform: rotateY(0);
		}
	
	/* position.html */
		
	.i-position.positem .positem_infoholder,
	.i-position.positem .positem_imgholder {
		float: right;
		}
	
	/* order.html */
		
	.orderpage_list__item {
		margin: 0 30px 0 0;
		display: inline-block;
		vertical-align: top;
		}
		
	.orderpage_list__item:last-child {
		margin-right: 0;
		}
	
	.input-item {
		width: 300px;
		}
	
	/* loginform */
	
	.custommodal_inner.center-block,
	.loginbox_inner.center-block {
		padding: 30px;
		}
		
	/* text.html */
	
	.markered-text {
		margin-top: 50px;
		}
		
	.markered-text:after,
	.markered-text:before {
		top: -10px;
		bottom: auto !important;
		background-color: #fff;
		z-index: 3;
		}
		
	.markered-text:after {
		left: 7% !important;
		right: auto !important;
		}
		
	.markered-text:before {
		left: auto !important;
		right: 5%;
		transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		}
		
	.markered-title:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -40%;
		width: 80%;
		padding: 1px 0 0;
		background: #cbcbcb;
		z-index: 1;
		}
		
	.markered-text h4 {
		position: relative;
		margin-top: -12px;
		background: #fff;
		display: inline-block;
		vertical-align: top;
		padding: 0 30px;
		z-index: 2;
		}
			
	.pre-footer {
		width: 100%;
		height: 100px;
		display: block;
		}
		
	.footer {
		width: 100%;
		min-height: 86px;
		position: absolute;
		bottom: 0;
		left: 0;
		}
	}
	
@media (min-width: 992px) and (max-width: 1279px) {	
	.positem_infoholder__buttons {
		text-align: center;
		}
	}
	
@media (min-width: 992px) and (max-width: 999px) {	
	.top_logo__item .text-responsive {
		font-size: 0.75em;
		}
		
	.top_right__list {
		width: 33.3333%;
		margin: 0 -3px 0 0;
		padding: 0 0 0 30px;
		}
	
	.top_right__list-item  {
		margin-bottom: 15px;
		}
	
	.top_right__list-item .item-link,
	.top_right__list-item .item-link:hover {
		display: inline-block;
		vertical-align: top;
		}
		
	.i-nav {
		width: 100% !important;
		margin-top: 10px;
		margin-left: 0 !important;
		}
	
	.top_right__menu {
		margin: 0 15px 0 0;
		display: inline-block;
		vertical-align: top;
		}
		
	.positem_imgholder.col-md-6 {
		width: 40%;
		}
		
	.positem_infoholder.col-md-6 {
		width: 60%;
		}
		
	.positem_infoholder__buttons-item .item-link,
	.positem_infoholder__buttons-item .item-link:hover {
		padding-left: 5px;
		padding-right: 5px;
		}
		
	.positem_infoholder__buttons-item .item-link.i-cart,
	.positem_infoholder__buttons-item .item-link.i-cart:hover {
		padding-left: 30px;
		padding-right: 5px;
		}
		
	.positem_imgholder__link.i-gift,
	.positem_imgholder__link.i-gift:hover {
		padding-right: 10px;
		}
		
	.positem_imgholder__link,
	.positem_imgholder__link:hover {
		position: absolute;
		bottom: 15px;
		left: 50%;
		}
	
	.footer_menu__item .item-link,
	.footer_menu__item .item-link:hover {
		padding: 8px;
		font-size: 0.7em;
		}
	}
	
@media (min-width: 768px) and (max-width: 991px) {	
	.top_logo {
		text-align: center;
		margin: 0 0 20px;
		}
		
	.top_right__list {
		width: 33.3333%;
		margin: 0 -3px 0 0;
		padding: 0 15px;
		text-align: center;
		}
	
	.top_right__list-item  {
		margin-bottom: 15px;
		}
	
	.top_right__list-item .item-link,
	.top_right__list-item .item-link:hover {
		display: inline-block;
		vertical-align: top;
		}
		
	.i-nav {
		padding-top: 50px;
		}
		
	.show-menu {
		padding: 5px 7px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 5px;
		border: 2px solid #fff;
		font-size: 25px;
		color: #fff;
		background: none;
		}
		
	.top_right__cart {
		position: absolute;
		top: 10px;
		right: 0;
		}
		
	.top_right__menu {
		margin-right: -15px;
		margin-left: -15px;
		display: none;
		}
		
	.top_right__menu-item {
		display: block;
		}
		
	.positem_imgholder {
		margin: 0 0 15px;
		}
	
	.footer {
		text-align: center;
		}
		
	.footer_menu {
		margin: 0 0 25px;
		}
	
	.footer_menu__item {
		display: block;
		}
	
	/* position.html */
		
	.i-position.positem .positem_infoholder {
		margin-bottom: 35px;
		}
		
	.i-position.positem .positem_imgholder {
		margin-bottom: 0;
		}
		
	.i-position.positem .carousel {
		padding-bottom: 110px;
		}
		
	.i-position.positem .carousel-indicators {
		bottom: 0;
		}
		
	/* cart */
	
	.cartbox_info__buttons-item.positem_infoholder__buttons-item {
		margin-right: auto;
		margin-left: auto;
		}
	
	/* order.html */
		
	.orderpage_list__item {
		margin: 0 10px 0 0;
		display: inline-block;
		vertical-align: top;
		}
		
	.orderpage_list__item.i-icon {	
		padding-left: 0;
		}
		
	.orderpage_list__item:before {	
		display: none;
		}
		
	.orderpage_list__item:last-child {
		margin-right: 0;
		}
	
	.input-item {
		width: 300px;
		}
	
	/* loginform */
	
	.custommodal_inner.center-block,
	.loginbox_inner.center-block {
		padding: 30px;
		}


	.order_list__item-label{
		padding-left: 195px;
		}
	}